[2015-03-02 16:21] jviotti opened #1 "Note command doesn't fail if no note was provided"
It should throw an error saying "Missing note" or similar.

[2015-04-08 15:30] pcarranzav opened #11 "Repeated output when copying token in Ubuntu"
Pasting the Auth Token into the terminal, the CLI shows the token repeated several times. Login works, but UI looks weird.
![screenshot from 2015-04-08 12 18 52 - censored](https://cloud.githubusercontent.com/assets/2223590/7048712/066b9774-ddeb-11e4-8628-544ddaa1eb91.png)

[2015-04-08 16:06] jviotti commented on #11
I can reproduce in both `gnome-terminal` and `terminator`. Probably an issue with [inquirer](https://github.com/SBoudrias/Inquirer.js/).

[2015-04-08 16:10] jviotti commented on #11
It seems to happen with every inquirer input once the input exceeds the width of the terminal.

[2015-04-08 16:10] jviotti commented on #11
Related: https://github.com/SBoudrias/Inquirer.js/issues/214.

[2015-04-08 18:53] pcarranzav opened #12 "resin os install crashes"
Throws this:
[code]

[2015-04-08 19:23] pcarranzav opened #13 "resin logs doesn't fail with an invalid uuid"
If I run `resin logs whatever` (sic), it just hangs there. It would be nice to have an error message like "Device doesn't exist".

[2015-04-08 19:27] pcarranzav commented on #13
Ah, sorry, I hadn't seen the help message that addresses this limitation.

[2015-04-08 19:29] pcarranzav opened #14 "resin logs doesn't exit when not in --tail mode"
It does print all log messages, but then a Ctrl-C is needed to stop it.

[2015-04-09 14:12] pcarranzav opened #15 "resin apps not showing online devices"
I have an online device, it appears as online using "resin device", but "resin apps" reports no devices online:
[code]
Don't know if it happens always, will try again in a while to see if it changes.

[2015-04-16 16:53] lorenzo-stoakes opened #17 "resin devices should list all devices"
I think it's confusing for `resin devices` to give an error of `You have to specify an application` - on first use my assumption is that this would list all devices. This would also be very useful!

[2015-04-16 16:57] lorenzo-stoakes opened #18 "resin devices is a little unclear"
Running `resin devices [app name or id]` simply returns the original help page.

After discussion it seems this requires `-a [app name]` `--app [app name]` or `--application [app name]`, so I think either this should return a specific error messages saying `specify application using -a [app name]` or equivalent, or the command I mentioned above should also be accepted (which would be my preference

[2015-04-16 17:04] lorenzo-stoakes opened #19 "resin device [device name] does't seem to work"
I tried the below, which doesn't seem correct:-

[code]

[2015-04-20 17:06] jviotti commented on #12
Fixed in https://github.com/resin-io/resin-cli/commit/caa4fcf75471b0cd965e6fcf50868378f5312936.

[2015-04-20 17:06] #12 closed

[2015-04-27 13:29] jviotti opened #27 "Permissions not automatically elevated on update"
[code]

[2015-04-27 13:36] jviotti commented on #19
Weird, I can't reproduce here:

[code]

[2015-04-27 14:33] jviotti commented on #15
Fixed in the SDK (https://github.com/resin-io/resin-sdk/commit/536ddb3b10ee7b919c2bfd35d223e90b55977556). This will land in the next CLI release soon.

[2015-04-27 14:33] #15 closed

[2015-04-27 14:51] jviotti commented on #13
Fixed in the SDK (https://github.com/resin-io/resin-sdk/commit/0ec4fd4db6767bc8e37d891ac55c9e7328bfe1ee). The fix will land in the next CLI release soon.

[2015-04-27 14:51] #13 closed

[2015-04-27 15:15] jviotti commented on #17
Sounds like a great idea. Proposal:

`devices` without an application option lists all devices that belong to you.
`devices --application <app>` filters the devices by a certain application.

I'll implement soon.

[2015-04-27 15:26] #17 closed

[2015-04-27 18:59] shaunmulligan opened #30 ""app name not unique" should be displayed before asking for device type"
Should tell me the app name isnt unique before it asks me about the device type
[code]

[2015-04-28 13:34] #30 closed

[2015-04-28 16:36] jviotti commented on #18
Addressed in https://github.com/resin-io/resin-cli/pull/29.

[2015-04-28 16:36] #18 closed

[2015-04-28 17:44] jviotti commented on #1
It also doesn't fail if device doesn't exist.

[2015-04-29 13:19] jviotti commented on #19
Closing as it seems to got fixed with another patch. I'll reopen if it happens again.

[2015-04-29 13:19] #19 closed

[2015-04-29 16:37] jviotti commented on #11
Fixed in https://github.com/SBoudrias/Inquirer.js/pull/239. I'll close the issue once the PR is merged and released.

[2015-04-29 16:39] jviotti commented on #14
Contacted PubNub team about this issue, which seems to be a bug on their side.

[2015-04-29 17:58] jviotti opened #32 "Devices command doesn't show up the application names"
[code]

[2015-04-29 18:10] jviotti commented on #32
Just update SDK. The real fix is https://github.com/resin-io/resin-sdk/pull/37.

[2015-04-29 18:13] #32 closed

[2015-04-29 18:35] jviotti commented on #1
The device validation part was addressed in https://github.com/resin-io/resin-sdk/pull/39.

[2015-04-29 18:40] jviotti commented on #1
Addressed in https://github.com/resin-io/resin-cli/pull/34.

[2015-04-29 18:43] #1 closed

[2015-04-30 15:46] jviotti opened #35 "Support -v and --version"
These are quite standard options for command line tools. We should support them.

[2015-04-30 18:31] jviotti opened #37 "Make os install unmount the devices if necessary automatically"
Notice this is not necessary in Windows, and we should prevent having native dependencies in other OSes.

[2015-05-13 11:37] jviotti commented on #37
This was done in https://github.com/resin-io/resin-image. For reference:

- https://github.com/resin-io/resin-image/pull/3
- https://github.com/resin-io/resin-image/pull/1

[2015-05-13 11:37] #37 closed

[2015-05-13 11:39] jviotti opened #45 "Flag to not prompt (useful for scripts)"
From @lorenzo-stoakes.

A flag to prevent y/n questions, e.g. --noconfirm.

[2015-05-13 11:41] jviotti opened #46 "Optionally handle ids in resources commands (device/app/etc)"
From @lorenzo-stoakes.

[2015-05-13 11:42] jviotti opened #47 "Accept multiple resources in rm commands"
Important for scripting - being able to do `resin app rm 123 456 789 ...` (this is to be able to use xargs without -n 1, also will make it faster as not restarting for each case).

[2015-05-14 14:55] jviotti commented on #27
Fixed in https://github.com/resin-io/resin-cli/pull/48.

[2015-05-14 14:55] #27 closed

[2015-05-18 15:04] jviotti commented on #45
All commands that require confirmation accept a `--yes/-y` options. I'll close unless there is a specific command that is not working as expected.

[2015-06-03 12:56] lorenzo-stoakes commented on #45
I've noticed the following:-

[code]

Which combines a couple of issues, the first being that since `app rm` is listed a separate command from `app`, it would follow that the `-y`ought to be where it is shown above. The second issue (perhaps ought to be broken out from this one) is that when there are more than the expected number of arguments, it seems to revert to the default of showing apps - I

[2015-06-03 13:06] lorenzo-stoakes opened #62 ">= 2 word command help doesn't work correctly"
So this runs correctly:-

[code]

But if I run `resin help app rm` I get the same output:-

[code]

Also in both cases I feel it would be useful to have flags like `-y` available and listed here :)

[2015-06-03 13:12] jviotti commented on #45
That's interesting. Let me investigate the command option issue as it may have a quick fix in Capitano.

About the name collision probability, this only happens when command prefixes are also a command on their own (for example "device associate" and “device”). A quick solution would be to convert “device” and “app” into “device info”, “app info” or “device ls”, “app ls".

[2015-06-03 13:59] lorenzo-stoakes commented on #45
(ported from internal discussion :)

yeah, it's a trade off for sure @jviotti , but one worth thinking about. The ability to say something like `resin app foo` is handy however, and in this case we should consider the possibility of collisions, even if unlikely! Also in some ways 'resin foo-bar' or 'resin foo:bar' are a little clearer I think as it makes it really consistent that the pattern is 'r

[2015-06-03 14:03] lorenzo-stoakes commented on #45
Also, it seems that the flag has to be put last in the command, which is very unusual:-

[code]

I'd expect that any of the first 3 possibilities would work, and the final one would fail :)

[2015-06-03 14:57] jviotti commented on #45
@lorenzo-stoakes Can you move your last post to a different (new) GitHub issue, so I can work on it?

[2015-06-03 15:08] lorenzo-stoakes commented on #45
@jviotti deleted and will create a new issue in just a moment!

[2015-06-03 15:09] lorenzo-stoakes opened #63 "The -y flag needs to be at the end of the command which is unusal"
It seems that the flag has to be put last in the command, which is very unusual:-

[code]

I'd expect that any of the first 3 possibilities would work, and the final one would fail :)

[2015-06-03 17:28] jviotti commented on #63
It turns out this is quite tricky to implement, given that there is no unambiguous way to parse the commands. For example:

    resin -y app rm foo

The command line parser could interpret that you're calling the command `app rm foo`, and you're passing a boolean command option. Also, it could interpret that you're calling the command `rm foo` and the command option '-y=app'.

The same reasoning a

[2015-06-03 17:41] lorenzo-stoakes commented on #63
I am not overly worried about the `resin -y app rm foo` form, I am fine with `resin app:rm -y foo` etc.

I think the best solution is to have --option=value, where if there's no '=' you interpret as a boolean input. Additionally the single-dash form could purely be for boolean options.

Having flags at the end of a CLI command is really non-standard, in fact many commands expect the final argument

[2015-06-04 15:53] jviotti commented on #62
Commands are matched based on order of definition (like a Web Application router entries). This was a specific case were `app` was defined before `app rm`. Other commands, like `resin help device` and `resin help device init` work as expected. Sending a PR in a second..

About the command flags, the are listed in the help pages already :)

[code]

[2015-06-04 16:23] jviotti commented on #63
I agree with your concerns, however the minority of the command line tools handle options in the form of `--option=value`.

I've been checking some other CLIs and they seems to solve the problem by not letting a command have more than one word, e.g: `resin app-rm` instead of `resin app rm`. That'd allow us to assume `argv[1]` is always the command name. In case we implement this change, I'd like t

[2015-06-04 16:27] jviotti commented on #63
I actually don't think that forcing one word commands will help us very much.

Consider the following command:

    $ resin app-rm -y MyApp

Given that we know the second word is the command, we omit `resin app-rm` and proceed to parse `-y myApp`, but then again it is not clear if `MyApp` is a command argument, or an argument to the `-y` option.

[2015-06-04 16:29] jviotti commented on #63
However, if we know `app-rm` is the command, we can check the options defined for that specific command and use that information to qualify options as boolean/non boolean. So I think this solution would fix the issue. What do you think?

[2015-06-04 16:30] Page- commented on #63
Isn't this just a case of having boolean params, if it doesn't expect a value then a value after it would be part of the main command rather than a flag, eg `apt-get -y install -q a -q b` whilst an odd way of writing it, it'd be equivalent to `apt-get install a b -qqy`

[2015-06-04 16:38] jviotti commented on #63
@Page- Sure, the problem is that options are defined per command, and if we get something like:

    $ resin app -y rm MyApp

We can interpret as:

    $ resin app rm -y=MyApp # matches resin app <name> or resin app rm <name> with a missing app error.
    $ resin app -y=rm MyApp # matches resin app <name>
    $ resin app rm -y MyApp # matches resin app rm <name>
    $ resin -y app rm MyApp # match

[2015-06-04 16:45] Page- commented on #63
We either do not know of `-y`, in which case it's an invalid arg for the given command and we look for further matches, or we know that `-y` is a boolean flag, meaning it can be either `` for false or `-y` for true.

You could also allow `-y=false`, `-y=true` if you want, but `-y ArbitraryArg` would still be invalid, so we know it's not part of the flag.

[2015-06-04 17:09] jviotti commented on #63
Currently Capitano doesn't require option arguments to match for a command to be executed. If you pass an unknown command option to a known command, the unknown option is discarded, so we can't rely on that to determine a match.

In order to enforce that command options also match the signature, we would need to assume an option is either boolean or not.

For example `resin app -y rm MyApp`:

- If

[2015-06-08 16:44] #62 closed

[2015-06-09 13:12] jviotti commented on #63
I think the most straightforward way to fix this issue is to require non boolean command line options to have an equal sign.

The one-word command solution helps, but still requires us to have knowledge of a command specific options to determine a match, which brings us to the same problem again.

Minimist, the parser we're using in Capitano supports an option to force command options to require a

[2015-06-14 12:26] craig-mulligan opened #71 "After successful login won't let me run commands"
Hi I'm logging in successfully but then it says I can't run any commands cause I am not logged in.

Successfully logged in as: craig
➜  ~  resin drives
You have to log in

[2015-06-15 14:11] jviotti commented on #71
@craig-mulligan There was a hot fix for this issue: https://github.com/resin-io/resin-cli/commit/7e5ecd634dae409892e04f49eedb6a3062a04734. Make sure you're running `v0.11.1`.

[2015-06-30 21:26] shaunmulligan opened #72 "resin CLI seems to delete itself after trying to perform an update"
When i ran "resin apps" the cli said it was performing a minor update, this failed and now when i run resin apps, it says command not found.

here is the console log:
[code]

[2015-07-01 09:32] shaunmulligan opened #73 "can whoami return email address aswell?"
It maybe be nice if the `resin whoami` returns `username<my_mail@email.com>` if the email is available, this just helps to better identify the account, especially if the user has more than 1 account.

[2015-07-01 09:33] shaunmulligan opened #74 "obsure wifi passphrase entry."
Not sure if it would be annoying or not, but it is probably good practise to obscure the wifi passphrase when a user is typing it into the command prompt

[2015-07-01 09:36] shaunmulligan opened #75 "Get SD card writing progress in minutes instead of seconds"
Currently the SD card writing progress is imported in seconds,
`Writing Device OS [=======                 ] 29% eta 531s`
but it may be more user friendly to report this in minutes instead.

[2015-07-01 09:38] shaunmulligan opened #76 "Incorrect device instructions after device init."
The physical instructions shown to the user after burning process are incorrect as they are the same instructions from the dashboard, talking about using `dd` etc.  This needs to be fixed in the device-type spec

[2015-07-01 09:41] shaunmulligan opened #77 "Proposal: present a link to the application dashboard while user waits for Download."
It may be nice to present a link in the quickStart CLI which points to the dashboard of the application they are working on, so they can see that the device is in the "connecting.." state on the dashboard. This will allow them to explore the dashboard while they wait for OS download. However, this needs to be thought about in the context of the full user flow and make sure it makes sense.

[2015-07-01 09:45] shaunmulligan opened #78 "Proposal: offer ability to remember wifi credentials in CLI/quickStart"
Could be cool to allow the quickstart to remember wifi credentials similar to the way the browser does, as it gets annoying entering this everytime (i am lazy)

[2015-07-01 09:48] shaunmulligan opened #79 "Progress Bar for Download"
Is there a plan or work around for to allow us to see the Download progress? it would improve the user experience quiet a bit to know how its going :+1:

[2015-07-01 09:50] shaunmulligan opened #80 "After successful Download, inform user that image has been cached."
Maybe good to inform user that the OS download has been cached for future <device_type> projects, just so that they know that is happening and that creating new devices will be quicker.

[2015-07-01 09:55] shaunmulligan opened #81 "Proposal: suggest/show default file directory for code"
When the quick start asks the user to select a directory that they want to associate to the app, it would be nice if the prompt would show a default or suggested file location, so the user could just hit enter and the default would be used.
e.g.:
`$ Please select a directory (~/Resin_projects/myAppName):    `

[2015-07-01 09:56] shaunmulligan opened #82 "quickStart should interactively prompt the user to put an SD card into their host PC after the application is created."

[2015-07-01 10:07] shaunmulligan opened #83 "Improve flow for associating folder in quickStart."
Is there a way we can improve or make clearer what is happening when quickstart asks to associate a folder to the app, it is unclear what format the input requires. Also its unclear if it is relative to root or the current working directory. I have associated my whole Desktop once or twice by mistake :smile:

[2015-07-01 10:09] shaunmulligan opened #84 ""Last Seen: undefined”"
When the device first comes online and the state of the device is reported by the cli in the terminal, it states that the device was "Last Seen: undefined" it maybe be good to have some default value like "not seen yet" or "right now" not sure...

[2015-07-02 18:16] Page- commented on #75
I'd say a mix, eg `8m51s`

[2015-07-02 18:45] jviotti commented on #75
@Page- +1.

[2015-07-02 20:49] emirotin commented on #84
Yeah, the logic for that can be stolen from the UI

[2015-07-02 21:39] emirotin commented on #78
Actually the browser (did you mean the UI?) doesn't remember them because when it was discussed the security concern (legit) was raised and it was agreed to not remember this sensitive info. Though with proper confirmation and taking into account the data are stored locally that should be OK for the CLI

[2015-07-03 13:02] shaunmulligan commented on #78
I was talking more about how chrome browser remembers my wifi passwords for me, so i dont have to retype it when i provision rpi :+1:

[2015-07-03 14:28] emirotin commented on #78
Oh, ok :)
On Пт, 3 июля 2015 г. at 16:02 Shaun Mulligan <notifications@github.com>
wrote:

[2015-07-09 12:20] jviotti commented on #72
This is an issue with NPM. In case of an installation error, they should automatically rollback to the previously installed version, which they don't.

As an improvement, the CLI will no longer perform a self update, and will instead notify the user to run the update command by his own: https://github.com/resin-io/resin-cli/issues/72.

[2015-07-09 13:34] #71 closed

[2015-07-09 13:37] jviotti commented on #73
This will be implemented when using the new SDK version.

[2015-07-09 13:44] shaunmulligan opened #87 "Doesn't seem to validate user right at the start of the command"
Doesn't ask to select an application anymore??? this was due to not being logged in, but it let me get all the way to selecting device type before telling me i needed to be logged in. ( Later discovered I was actually logged in a production account, but endpoint was staging)

[2015-07-09 13:46] jviotti commented on #74
Fixed! I'll rebase the quick start branch so it also gets this change.

[2015-07-09 13:46] #74 closed

[2015-07-09 13:47] shaunmulligan opened #88 "Improve application name question for quickstart"
Improve this sentence
? What'll be the name of the application? --> Choose a Name for your New Application...

[2015-07-09 13:48] shaunmulligan opened #89 "Interactively tell user to insert SD card"
if no SD card is detected, it just exits the "resin quickstart" it should perhaps interactively tell the user to insert their SD card into their Computer and then wait for this to happen... (with some timeout obviously)

[2015-07-09 13:50] shaunmulligan opened #90 "Spinner for Image Download and indicate that it will take a while..."
In the `Configuring device operating system image` step it would probably be good to have a random spinner, while the download happens. Also indicate that this step may take a minute or two.

[2015-07-09 13:52] shaunmulligan opened #91 "provide a default/suggested folder for quickstart"
For the below prompt, it would be nice to have a "default/suggested folder" so we can just hit enter:
something like this perhaps:
`? Please choose a directory for your code: (~/resin-projects/myAppName)`

[2015-07-09 13:53] shaunmulligan opened #92 "Folder not created, so was associated to the wrong folder"
Folder was not created:
[code]
I tried to associate a folder that doesn't exist, but instead it just associated my current working directory.

[2015-07-09 14:00] jviotti commented on #80
Implemented in the quick start branch.

[2015-07-09 14:00] #80 closed

[2015-07-09 14:02] jviotti commented on #87
The current `user` permission checks that there is a saved token, but doesn't check the validity of the token itself. This would be fixed by requesting `/whoami` in the permission declaration.

[2015-07-09 14:04] jviotti commented on #88
Fixed in the quick start branch.

[2015-07-09 14:04] #88 closed

[2015-07-09 14:10] jviotti commented on #92
Fixed in quick start branch.

[2015-07-09 14:10] #92 closed

[2015-07-09 14:58] jviotti commented on #91
Implemented in quick start branch.

[2015-07-09 14:58] #91 closed

[2015-07-09 16:29] jviotti commented on #75
This is being implemented in Resin CLI Visuals: https://github.com/resin-io/resin-cli-visuals/pull/13.

[2015-07-09 17:40] jviotti commented on #81
Closing as duplicated of https://github.com/resin-io/resin-cli/issues/91.

[2015-07-09 17:40] #81 closed

[2015-07-09 17:44] jviotti commented on #75
Implemented and rebased to quick start branch.

[2015-07-09 17:44] #75 closed

[2015-07-09 17:45] #84 closed

[2015-07-09 17:46] #72 closed

[2015-07-09 17:47] jviotti commented on #72
Let's discuss this again if prevent the self update still confuses users. In that case we could add an informative message to `resin update` explaining the possible problem caused by NPM.

[2015-07-10 14:57] lifeeth commented on #89
+1 just hit this.

[2015-07-15 12:59] jviotti commented on #11
Added a workaround in https://github.com/resin-io/resin-cli-visuals/pull/14, until the issue get's fixed in Inquirer.

[2015-07-15 12:59] #11 closed

[2015-07-20 11:21] shaunmulligan commented on #82
duplicate of https://github.com/resin-io/resin-cli/issues/89

[2015-07-20 11:21] #82 closed

[2015-07-20 11:47] shaunmulligan opened #98 "ignore config partition which now auto-mounts"

[2015-07-20 11:49] shaunmulligan commented on #98
The new device images now have an automounting config partition. This partition shows up in the drives list when you run quickstart.

[2015-07-20 11:50] shaunmulligan opened #99 "Support All resin Device types"
Currently on SD card device types are supported. So Intel Edison can't be flashed using the CLI.

[2015-07-20 11:53] shaunmulligan opened #100 "Provide a way to hide "preview" or not yet supported device types from CLI"
Currently when you create an application you have the option to create an Edison (or unsupported) device type, but you can not flash it using the cli. These options should be hidden from the user.

[2015-07-20 12:00] shaunmulligan opened #101 "Hierarchical display of CLI help."
Currently the CLI -h --help command just dumps a fairly long list of commands. It would perhaps to have a more structured list of the commands. Perhaps, more commonly used commands could be listed first. it could also be possible to segment the help into sub help commands. so you could do something like
[code]
for example heroku -h
[code]

[2015-07-20 12:06] shaunmulligan opened #102 "Allow wifi Credentials to be re-configured after first boot."
The new OS images auto mount a config partition that contains a config.json with the network settings.  There should be functionality like
`$ sudo resin wifi config`
which will allow the user to select a SD card or device (edison) and either change the current wifi config or add an additional wifi SSID and Passphrase.

[2015-07-20 12:09] shaunmulligan opened #103 "Send user event data to API"

[2015-07-20 12:16] shaunmulligan opened #104 "Use bmaptool SD card writing strategy to speed up card writing."
Look in to either using [bmaptool](https://source.tizen.org/development/reference/bmaptool) or a similar strategy to improve writing speed of SD cards.

[2015-07-20 12:59] shaunmulligan opened #105 ""Try running as sudo" thrown when SD card lock is in place"
If the user inserts a card which has the physical lock enabled on it. The CLI tells the user they should try run the command as sudo, even though they have run as sudo.

example:
[code]

[2015-07-20 17:07] shaunmulligan opened #106 "Reword output when download is happening in device init."
when downloads happens in quickstart, current text is:
`Configuring device operating system image`
possibly change to or include this line as well  `Downloading device operating system`

[2015-07-20 17:08] shaunmulligan opened #107 "Replace "polling for device" to nice ascii art spinner"
when waiting for a device, it would be better to have a nice ascii art animated spinner instead of just printing the line: Polling device network status:
checkout here http://stackoverflow.com/questions/2685435/cooler-ascii-spinners

[2015-07-20 17:11] shaunmulligan opened #108 "cd to associated project folder automatically for the user."
once you have associated your folder to the app, it tells you this:
* Please type "git push resin master" into your project directory now!
* it would be better i think if it told you that it was changing directory to the associated location, then changed you to this directory and finally told you to run “git push resin master" command.

[2015-07-20 17:12] shaunmulligan opened #109 "Possible perms issue with default resin projects directory."
one issue i noticed with the default folder location is that there might be a permission problem for some users.
[code]

[2015-07-23 14:15] mkorakakis opened #111 "Check if email is valid "resin signup""
After login i can use the signup command to create another new account. Use regex to check if email input is valid and not e.g. 123432?

[2015-07-23 14:16] mkorakakis opened #112 "Command does not display correct output "resin key <id>""
The command returns "undefined" as a result when i provide the id for my ssh key.

[2015-07-23 14:28] mkorakakis opened #113 "display msg after command execution"
Multiple commands e.g. resin logout, resin app rm do not display anything after they are done. Maybe, add a display message to inform the user for their result?

[2015-07-24 12:09] mkorakakis opened #114 "Check if app exists before removing it "resin app rm <appName>""
Check if the input is valid i.e. the specific app actually exists/

[2015-07-24 12:14] mkorakakis opened #115 "Command displays wrong output "resin init""
id [object Object] shouldn't appear

[code]

[2015-07-24 12:55] mkorakakis opened #116 "bug in y/n input cases"
CLI sets as No any input besides y/N automatically.

example:
[code]

[2015-07-27 08:58] mkorakakis opened #117 "resin app create"
id [object Object] should not be displayed.

[code]

[2015-07-27 17:46] mkorakakis opened #119 "Git remote does not exist after command execution "resin app associate""
While it succeeds in running git init, it doesn't add a git remote to the provided directory.

[2015-07-27 17:51] mkorakakis opened #120 "Command does not display valid output "resin envs --application/device""
Doesn't return anything when using the --application and in the case of --device doesn't display the variable's name.

[code]

[2015-07-29 10:03] mkorakakis opened #123 "Check if device exists before removing it "resin device rm <uuid>""
The command doesn't check if the device actually exists before removing it.

[2015-07-29 18:43] #117 closed

[2015-07-30 08:45] mkorakakis opened #128 "Implement a command option for "resin init" to allow customising the application name independently from the current directory"
The command displays, besides the actual question, also the folder from where I run it.

Example:

[code]

In this case, `resin init` default the application name to the current directory (or the directory specified with `--project`) name.

For scripting reasons, it'd be nice to allow a new `--name` option that customises the application name. For example:

[code]

[2015-07-30 21:22] jviotti commented on #123
@mkorakakis Can you link this issue to the SDK PR that fixes it?

[2015-08-03 16:03] jviotti commented on #45
Closing issue since a new one was opened in Capitano for this purpose.

[2015-08-03 16:03] #45 closed

[2015-08-03 16:03] #46 closed

[2015-08-03 20:14] #73 closed

[2015-08-13 18:21] jviotti commented on #100
The unsupported devices were hidden from app create, which effectively hides them in quick start until device specs are implemented.

[2015-08-13 18:21] #100 closed

[2015-08-13 18:22] jviotti commented on #119
This issue is accidentally fixed by this commit: https://github.com/resin-io/resin-cli/commit/25c6246e9f1d1912e387e0f058e73ef8ec974591.

[2015-08-13 18:23] jviotti commented on #128
The `resin init` command is going to be removed in a pending PR (as part of the CLI slimming down process), so closing this issue.

[2015-08-13 18:23] #128 closed

[2015-08-13 19:13] jviotti commented on #115
The real source of the issue was `app create`, which was called internally by `init`. Closing as fixed.

[2015-08-13 19:13] #115 closed

[2015-08-14 11:58] #14 closed

[2015-08-14 11:58] #111 closed

[2015-08-14 16:20] jviotti opened #151 "Broken table layout in "resin key"."
There are weird new lines in between the table rows:

[code]

[2015-08-14 16:31] jviotti commented on #116
This is an issue with https://github.com/SBoudrias/Inquirer.js, which I'm not sure what's the behaviour most people expect.

Can you move this concern to inquirerjs, and discuss the correct approach there?

I'll close this ticket since it's not directly related to the Resin CLI.

[2015-08-14 16:31] #116 closed

[2015-08-14 16:40] jviotti commented on #63
Moved this issues to https://github.com/resin-io/capitano/issues/29.

[2015-08-14 16:40] #63 closed

[2015-08-14 16:42] jviotti commented on #76
I confirm that this needs to be addressed within device specs, so we can't take action for now.

[2015-08-14 16:43] jviotti commented on #47
Closing, since this is low priority for now.

[2015-08-14 16:43] #47 closed

[2015-08-14 16:43] jviotti commented on #123
Fixed in the referenced PR.

[2015-08-14 16:43] #123 closed

[2015-08-14 16:43] jviotti commented on #114
Fixed in the referenced PR.

[2015-08-14 16:43] #114 closed

[2015-08-14 16:43] jviotti commented on #112
Fixed in the referenced PR.

[2015-08-14 16:43] #112 closed

[2015-08-14 16:44] jviotti commented on #79
Closing since this is not likely to happen from the infrastructure side anytime soon.

[2015-08-14 16:44] #79 closed

[2015-08-14 16:45] jviotti commented on #87
This issue was addressed in the following SDK PR: https://github.com/resin-io/resin-sdk/pull/122.

[2015-08-14 16:51] jviotti commented on #106
The process of fetching an image is encapsulated by https://github.com/resin-io/resin-image-manager, and there is no easy way for the CLI to now if the image is going to be grabbed from the cache, or re-downloaded it.

Currently, if the image needs to be downloaded, a progress bar will appear which contains the following label: `Downloading Device OS`.

Is this enough to inform the user of a downl

[2015-08-14 17:00] jviotti commented on #120
There are two different issues being mentioned here:

I'm unable to reproduce this. If the issue persists, please open a separate ticket where we can discuss the issue in depth.

I can reproduce this one. I'll send a PR fixing this soon.

[2015-08-14 17:14] jviotti commented on #120
The device environment variables name issue was addressed in the SDK. This issue will be fixed once the PR is merged, the SDK published, and the SDK version updated in the CLI.

[2015-08-14 17:20] jviotti commented on #113
The scope of this issue is too wide, which makes the "next action" unclear. Can you open new issues for specific commands where you'd like to see a message?

[2015-08-14 17:20] #113 closed

[2015-08-14 17:25] jviotti commented on #102
I'd love to have this functionality in the CLI. There aww some things that need to be evaluated:

- We should be able to perform `operations` (https://github.com/resin-io/resin-device-operations) in a plugged device. We currently only do it for locally saved image files, but the module might support it automatically already. Needs testing.
- Plan the command name, behaviour, extra options, etc.

[2015-08-14 17:29] jviotti commented on #83
The command currently prints:

[code]

Is this enough to make it clean what directory is going to be associated?

Alternatively, would extending the current command help section solve the issue (not sure how many people look at those though)?

[code]

[2015-08-14 17:36] jviotti commented on #98
Resin CLI Visuals (https://github.com/resin-io/resin-cli-visuals) contains the drive widget. Should be easy to filter it out before showing the options to the user.

[2015-08-14 17:39] jviotti commented on #103
@mkorakakis is currently working on this feature request, though the progress is blocked due to the following change required in https://github.com/resin-io/resin-event-log:

[ ] Support for promises in hooks, since Resin Settings Storage uses promises for saving/accessing the interaction uuid and not waiting for completion might create race conditions.

Currently, @zewish is working on these chan

[2015-08-14 17:40] jviotti commented on #104
This task needs serious studying of how `bmaptool` performs its job, and an actual implementation in a separate NPM module.

[2015-08-14 17:44] jviotti commented on #105
I don't think we have a reliable way of detecting the lock status of an sdcard (happy to be proven incorrect).

The approaches I can think of are:

- Extending the error message to say something like: "If you're writing to an SDCard, make sure is not locked".
- Documenting this potential issue in the docs.
- Showing an information message at the start of `device init` remembering the user to make

[2015-08-14 17:45] jviotti commented on #107
I agree with the change. I'll implement soon.

[2015-08-14 17:48] jviotti commented on #108
I don't think we can change the current directory from outside our process, so this is not under our control.

I suggest replacing the final message with:

[code]

[2015-08-14 17:52] jviotti commented on #109
I have a theory about this issue, although I need to investigate this further:

`device init` needs `sudo` in order to write the image to the drive, and therefore creates an application directory that doesn't have write permissions for the current user.

Possible solutions:

- Create the directory as the user instead of `root`.
- Tweak the permissions of the directory after it's creation.

[2015-08-14 17:53] jviotti commented on #99
This is blocked by the implementation of device specs in the CLI.

[2015-08-14 19:40] jviotti commented on #98
I'm unable to reproduce this issue. I've burned a Raspberry Pi 2 image downloaded from production (I can see both the boot and config partitions mounted on my desktop), however I still not see the config partition showing up in the drive list:

<img width="507" alt="screenshot 2015-08-14 15 39 11" src="https://cloud.githubusercontent.com/assets/2192773/9282466/a1d1413c-429a-11e5-93ef-fdbb931d82a6.

[2015-08-17 12:01] #107 closed

[2015-08-17 12:18] #151 closed

[2015-08-17 12:19] #119 closed

[2015-08-17 12:59] #87 closed

[2015-08-17 12:59] #120 closed

[2015-08-17 16:43] shaunmulligan commented on #108
sounds good to me

[2015-08-17 16:50] shaunmulligan commented on #106
change "configuring" --> "Initializing"

[2015-08-17 16:54] shaunmulligan commented on #105
I think we just need to extend the error message and document

[2015-08-17 16:56] shaunmulligan commented on #102
currently also blocked on the device side because the config.json is only read on first boot.

[2015-08-17 17:03] jviotti commented on #83
Closing as solved, given the confirmation message.

[2015-08-17 17:03] #83 closed

[2015-08-17 17:04] jviotti commented on #78
Closing as low priority for now.

[2015-08-17 17:04] #78 closed

[2015-08-17 17:07] jviotti commented on #77
Closing as unnecessary for now.

[2015-08-17 17:07] #77 closed

[2015-08-18 11:59] #106 closed

[2015-08-18 12:00] #108 closed

[2015-08-18 12:19] jviotti commented on #90
This is currently the case. If we know the size of the download we show a progress bar, otherwise a spinner. I believe this concern was raised before this was implemented, therefore ignoring this part as "done".

I agree with this. Let's print a message right below `Configuring device operating system image` for it.

[2015-08-18 13:04] #90 closed

[2015-08-18 13:09] jviotti opened #166 "Error message instead of empty table for environment variables list command"
If trying to get the environment variables for an application or device that doesn't have any custom ones, I  get an empty table:

[code]

Instead, we should print an error message explaining to the user that the selected resource doesn't have any environment variable.

For example:

[code]

[2015-08-18 15:17] #166 closed

[2015-08-18 15:19] jviotti commented on #98
Closing since I cannot reproduce (tried in various ways). Please re-open with more information about how to reproduce reliably in case it happens again.

[2015-08-18 15:19] #98 closed

[2015-08-19 15:47] jviotti commented on #101
The help commands were reduced a lot recently:

[code]

Do you think this is short enough to make this issue irrelevant?

[2015-08-26 16:49] jviotti commented on #103
@zewish Any updates regarding the module?

[2015-08-27 05:57] zewish commented on #103
Hey @jviotti, I released the updated version of the module yesterday, there are some hooks and also the "interaction ID" is removed - read the module is simplified. It should be okay to be used now. Please update to version 0.0.4 though.

[2015-09-01 12:51] nchronas opened #182 "docs, login section points users to wrong url."
The url in Authentication, login [token] should be :
https://dashboard.resin.io/preferences

instead of
https://dashboard.resinstaging.io/preferences

[2015-09-01 17:09] jviotti commented on #182
Hi @nchronas, thanks for reporting.

I'm fixing the generated documentation from the CLI side, but make sure to open a relevant issue on the Resin Docs GitHub repository (https://github.com/resin-io/docs) so they pull the latest version once my PR is merged to `master`.

[2015-09-01 17:09] jviotti commented on #182
Merged!

[2015-09-01 17:09] #182 closed

[2015-09-05 17:11] #103 closed

[2015-09-11 10:10] #99 closed

[2015-09-16 12:35] jviotti opened #191 "Expose a command to generate API Keys"
This command will allow the user to generate ~~application/device specific API keys will can later be used in their applications.~~ per-user api keys (for now, we can extend to different scopes later, as that becomes possible)

[2015-09-24 14:13] shaunmulligan opened #196 "improve error message when running `resin device init` without --application"
currently the error message is this:
[code]

[2015-09-24 14:16] jviotti commented on #196
This can mean two things:

- The user don't have `git` installed on his machine.
- When running `device init` without an `--application` option, `device init` assumes the current directory is a `git` repository and tries to get the application name from the remote.

The improvements to these error conditions should be applied in https://github.com/resin-io/resin-vcs:

- [ ] Check that a directory

[2015-09-24 14:34] shaunmulligan opened #197 "list apps for `device init` if no --application option is supplied"
Wouldn't it make sense to just ask a user which application they would like to initialise a device for if they left the --application option off? In theory they are probably gonna want to do one of their applications anyways.

[2015-09-25 13:18] shaunmulligan commented on #109
The quickstart, when it creates a folder and associates it, that folder is owned by the root user, so then on OSX, it always wants me to used sudo, even to commit, etc.

[2015-09-25 19:35] jviotti commented on #196
Turns out we already check that the `git` binary is accessible.

[2015-09-25 19:43] jviotti commented on #196
Checking that a directory is a `git` repo is being fixed in https://github.com/jviotti/gitwrap/pull/2.

[2015-09-25 20:07] #196 closed

[2015-09-25 20:11] jviotti commented on #196
Fixed. Please reinstall the Resin CLI to get the latest changes.

[2015-09-29 19:31] #197 closed

[2015-10-01 11:59] #89 closed

[2015-10-01 12:02] jviotti commented on #102
@pcarranzav Can you provide some update regarding this blocker?

[2015-10-01 14:42] jviotti commented on #101
I've sent a PR that only lists the most used commands, with the possibility of passing `--verbose` to list the rest:

[code]

Omitting `--verbose` shows:

[code]

[2015-10-01 14:43] jviotti commented on #101
@shaunmulligan Happy to move commands between primary/additional as you like.

[2015-10-01 14:45] shaunmulligan commented on #101
this looks awesome. I think for the moment it all looks good :+1:  Where would plugins be listed?

[2015-10-01 14:46] jviotti commented on #101
@shaunmulligan Ah, good question. The current approach means that a plugin can mark itself as primary or additional as it wants, however I could add a new section for them. What do you think?

[2015-10-01 14:48] shaunmulligan commented on #101
yeah, might be cool to have "Pluggin Commands" listed under Primary Commands when --verbose ?

[2015-10-01 14:54] jviotti commented on #101
@shaunmulligan

[code]

[2015-10-01 14:54] jviotti commented on #101
Maybe `Installed plugins:` instead of just `Plugins:`?

[2015-10-01 15:09] jviotti commented on #191
Blocked by API keys needing to be implemented the correct way in the API.

[2015-10-01 15:13] #105 closed

[2015-10-01 15:17] jviotti commented on #109
This happens with the cache as well. If you download an image with `sudo`, that image file is owned by root.

[2015-10-01 18:08] #109 closed

[2015-10-02 12:36] shaunmulligan commented on #101
Yup, `Installed plugins:` sounds good to me

[2015-10-02 13:12] #101 closed

[2015-10-06 16:56] shaunmulligan opened #213 "Device types still display (PREVIEW) and (EXPERIEMENTAL)"
The device types still show the old tags. they are now referred to as (ALPHA) and (BETA)

[2015-10-06 21:56] jviotti commented on #213
@shaunmulligan The CLI doesn't hardcode any names. They come from the `/config` endpoint from the API, so probably they wasn't changed there. I'll double check.

[2015-10-06 21:59] jviotti commented on #213
@shaunmulligan I've checked and indeed the `deviceTypes` object returned by `GET /config` returns names containing PREVIEW and EXPERIMENTAL.

Closing since the source of the issue is not the CLI.

[2015-10-06 21:59] #213 closed

[2015-10-07 18:05] ErikDeBruijn opened #216 "Suggestion: Make it accept the API key when it's in the C&P buffer"
On linux and Mac you can get the paste buffer easily (e.g. `pbpaste` on OS X). It might be cool if upon pressing the copy token button in the webpage that pops up, it would accept the key.

Alternatively, you could let it generate a key, open the URL with the key in it and in the web-interface you'd accept it (or then copy it to the clipboard). This would be a flow that people know from authorizin

[2015-10-08 12:28] jviotti commented on #216
Hi @ErikDeBruijn ,

That is a great idea. The plan was to build a Node-Webkit application that opened the login page from the dashboard and automatically log you in the CLI after authentication.

The paster buffer was something we didn't consider before, however I wonder how we can detect from the CLI that the token was copied into the buffer (maybe polling the buffer for something that matches a

[2015-10-12 11:38] jviotti commented on #104
I've studied `bmaptool` and it seems to use GNU/Linux specific features to perform it's job, but not sure it it's just the implementation or or necessarily requires those features, for example to get the host block size for the image. I also get the following error on OS X:

[2015-10-12 12:02] petrosagg commented on #104
`bmaptool` accelerates the writing of images when said images are stored in a sparse file. A sparse file is a file that its reported size is larger than its size on disk. The acceleration comes from not writing the empty sections of the sparse files (holes) and only writing the data sections.

`SEEK_HOLE` and `SEEK_DATA` should only be needed for the initial creation of the hole/data map file and

[2015-10-12 12:12] jviotti commented on #104
@petrosagg What about generating the map file server side? `bmaptool` exposes a command for that.

This would be easier once we serve static un-configured images. Then, for example, I could fetch `/static/images/raspberry-pi.img` and `/static/images/raspberry-pi.img.map`.

[2015-10-12 12:12] petrosagg commented on #104
Yes, that's exactly what I had in mind.

[2015-10-14 10:04] shaunmulligan opened #221 "friendlier error messages when running quickstart with out sudo"
Currently if you run quickstart without permissions, it lets you select and app, and device type and then throws an error about permissions when it tries to access the cached .img files. I suggest checking perms when the command is run and prompting users to run the command with elevated perms.

[2015-10-14 12:28] jviotti commented on #221
Due to the problem of cache and `.git` belonging to `root` in some edge cases, both `quickstart` and `device init` *do not* require `sudo` anymore. You will be prompted for a password only when really necessary, e.g: when burning the sdcard.

Since your cache already belongs to `root`, I suggest removing and running `quickstart` without `sudo` from now on.

This could work in some cases, but switc

[2015-10-14 12:32] jviotti commented on #221
I just noticed a problem with the current solution:

- Since we don't require elevated permissions on the mentioned commands, Windows users will not get a message to run the command from an administrator command prompt anymore, but the command will fail during device initialisation given that we don't elevate permissions on Windows.

I'll open a new issue for this.

[2015-10-14 12:33] jviotti opened #222 "Elevate permissions for `os initialise` on Windows"
Currently we prompt for `sudo` password on UNIX systems at `os initialise`, however we do nothing for Windows.

[2015-10-14 13:58] craig-mulligan opened #223 "Perhaps add sudo to update prompt"
When you run `resin version` it prompts you to update with text `Run npm install -g resin-cli to update` But I got an access error, it maybe specific to my setup, but is it not safer just to add sudo to the prompt?

[2015-10-14 14:04] craig-mulligan opened #224 "Since updating to 1.1.0 I get this error print"
Since updating to 1.1.0 I get this strange error.
[code]

[2015-10-14 14:58] craig-mulligan opened #225 "Occasionally getting timeouts"
[code]

[2015-10-14 16:40] jviotti commented on #223
@craig-mulligan I think it's best to clarify below that depending on the environment you may need administrator privileges, since there are setups when `sudo` is not necessary, or may be even harmful.

[2015-10-14 16:41] jviotti commented on #225
Looks like a network issue when communicating with the API. Happy to clarify the message. Any suggestion?

[2015-10-14 16:42] jviotti commented on #224
@craig-mulligan That looks like ES6 syntax coming from one of Resin Sync plugin dependencies. Since the error happens in the plugin and not in the CLI, can you move this issue to https://github.com/resin-io/resin-plugin-sync?

[2015-10-14 16:49] craig-mulligan commented on #225
Couldn't reach resin.io API, please check your connection and try again.

[2015-10-14 16:50] craig-mulligan commented on #225
Maybe the API was slow at the time because page was deploying or smthing

[2015-10-14 16:50] craig-mulligan commented on #223
Sounds good

[2015-10-14 16:51] #224 closed

[2015-10-14 17:49] jviotti commented on #223
@craig-mulligan PR sent. Can you quickly review message?

[2015-10-14 17:50] jviotti commented on #225
@craig-mulligan PR sent. Can you review the message? Notice I omitted the first part of your suggestion which mentions "Resin.io API" since this error can happen with any kind of request.

[2015-10-15 11:40] #223 closed

[2015-10-15 11:51] #225 closed

[2015-10-20 11:48] shaunmulligan opened #239 "Explain the password question."
Can we explain that the password that the cli is asking for during quickstart and device init is the administrative password? Just because it could be a little confusing to the user.

[2015-10-20 13:43] jviotti commented on #239
@shaunmulligan There are three things we can do here:

1- Print a message **above** the `sudo` prompt. For example:

[code]

2- Modify the prompt itself. For example:

[code]

3- A combination of both approaches mentioned before.

***

I think I'm more towards the first option since it allows us to be more verbose, otherwise a long prompt would be annoying for some users.

What do you think?

[2015-10-23 13:56] shaunmulligan opened #250 "img download fails for intel edison"
[code]

[2015-10-26 12:44] shaunmulligan commented on #239
Yeah, I like option 1 better, lets go with that for now

[2015-10-26 13:42] #239 closed

[2015-10-26 15:39] jviotti opened #254 "Show uuids in resin devices"
It sounds like a good idea, however I fear that the width of the rows will increase dramatically, causing wrapping for most users.

I think that the way to go would be to allow all relevant CLI commands to take the first x-letters from the uuids instead of requiring the full things, which would allow us to show a part of the uuid in the `resin devices` command successfully.

[2015-11-05 11:09] shaunmulligan opened #255 "allow burning of multiple SD cards at once."
It would be an awesome feature of `device init` if one of the options was to select all available SD drives, and write the same image to them. This could be useful when needing to provision a large number of devices.

[2015-11-10 15:14] jviotti commented on #102
The `config.json` is now read on every boot!

[2015-11-11 14:17] jviotti commented on #102
Also, I can confirm all the modules work with raw devices directly, so we have everything in place to build this feature.

[2015-11-11 14:59] #102 closed

[2015-11-11 14:59] jviotti commented on #102
Implement `resin config reconfigure` for this purpose.

[2015-11-13 17:33] jviotti opened #263 "Config list command"
Implement command to list all detected settings along with the read paths.

[2015-11-20 11:49] craig-mulligan opened #267 "Error after selecting network config. (v 2.2.0)"
After I select wifi or ethernet, it throws this:

[code]

[2015-11-20 12:09] jviotti commented on #267
@craig-mulligan What was the command that triggered the error?

It happens when the CLI tries to read the MBR of an image to analyse it's partitions before configuring, but for some reason the MBR is invalid. I would suggest checking that:

- The image you're trying to modify is indeed a valid image containing a MBR (maybe it's corrupted?).
- If the error happened when trying to read the `config.j

[2015-11-20 12:14] jviotti commented on #254
This was implemented in https://github.com/resin-io/resin-cli/pull/264.

[2015-11-20 12:14] #254 closed

[2015-11-20 12:14] jviotti commented on #263
Implemented in https://github.com/resin-io/resin-cli/pull/265.

[2015-11-20 12:14] #263 closed

[2015-11-20 12:15] jviotti commented on #222
Implemented in https://github.com/resin-io/resin-cli/pull/262.

[2015-11-20 12:15] #222 closed

[2015-11-20 12:19] craig-mulligan commented on #267
@jviotti encountered when running `resin quickstart`. It downloaded a fresh copy of the OS so it's possible that was corrupted somehow. Also just realized I didn't run the command with sudo, although this error seems unrelated.

[2015-11-20 13:00] craig-mulligan commented on #267
@jviotti where are the images stored? So I can delete and try again

[2015-11-20 13:10] jviotti commented on #267
@craig-mulligan `resin quickstart` now automatically prompts you to run with `sudo` only when needed, to prevent other files being owned by root by accident (which was the source of other issues).

The images are stored in `$HOME/.resin/cache`.

[2015-11-20 13:12] jviotti opened #268 "Plugins are not detected when running with sudo"
This errors comes from [nplugm](https://github.com/resin-io/nplugm) and is reproducible when running node from nvm. The problem is that in such scenario, `NVM_BIN` is not defined. See https://github.com/resin-io/nplugm/blob/master/lib/resolver.coffee#L49

[2015-11-20 13:14] jviotti commented on #268
The issue is fixed if we explicitly tell `sudo` to keep the environment intact with `sudo -E`, but there should be a way to preserve them automatically.

[2015-11-20 13:35] craig-mulligan commented on #267
@jviotti I deleted the image and re-downloaded a new image, still running into the same issue. :/

[2015-11-20 13:52] jviotti commented on #267
@craig-mulligan Can you paste the whole output, since you run the command?

[2015-11-20 16:49] jviotti commented on #268
Closing this. Is the user's responsibility to make sure his environment is correctly configured.

In the case of NVM, installations are supposed to be "per user" so running a command with `sudo` (e.g: as `root`) means that the behaviour is somehow expected.

[2015-11-20 16:49] #268 closed

[2015-11-20 16:50] jviotti commented on #255
This feature is implemented in the form of a plugin, given that it's not a very common use case for the average user: https://github.com/resin-io/resin-plugin-multiburn.

[2015-11-20 16:50] #255 closed

[2015-11-20 16:51] jviotti commented on #221
Permissions are now asked only when necessary, and `quickstart` doesn't require `sudo` anymore.

[2015-11-20 16:51] #221 closed

[2015-11-20 16:52] jviotti commented on #76
Instructions are not being shown anymore, so this issue is now irrelevant.

[2015-11-20 16:52] #76 closed

[2015-11-23 11:20] craig-mulligan commented on #267
[code]

[2015-11-23 13:15] jviotti commented on #267
@craig-mulligan I've tried many ways to reproduce this without luck. Can you upload the raspberry pi 2 image the CLI is using (located in `$HOME/.resin/cache/raspberry-pi2.img`) somewhere so I can inspect in detail?

[2015-11-23 15:16] jviotti commented on #267
I think I know the cause of the issue:

There were recent changes in `resin-request` to read the brand new `x-transfer-length` HTTP header which contains the compressed transfer length for static images.

The change introduced a subtle bug that makes `resin-request` pipe compressed data using uncompressed content length information.

I'll publish a PR soon.

[2015-11-23 17:46] #267 closed

[2015-11-25 13:27] jviotti commented on #216
Hi @ErikDeBruijn ,

Based on your suggestion, we've been working hard towards a best way to deal with authentication:

Soon, once the dashboard opens in your browser, you'll be prompted to "Authorise" the CLI to use your account (similar to OAuth), and on agreement, the dashboard will exchange the token with the CLI automatically, without having to manually copy and paste.

See https://github.com/

[2015-12-04 19:20] ErikDeBruijn commented on #216
That's pretty awesome! Thanks for incorporating the feedback!

[2015-12-04 19:41] jviotti commented on #216
@ErikDeBruijn You're welcome, thanks to you for the feedback!

BTW, the feature commented above was already released to NPM as v2.4.0.

[2015-12-12 01:23] #216 closed

[2016-01-01 19:47] jviotti opened #284 "Implement command to point the CLI to another Resin domain"
This command should prompt for a resin url, write `$HOME/.resinrc.yml`, and prompt the user to login again.

[2016-01-04 12:31] shaunmulligan opened #286 "If no dashboard.resin.io page is open, CLI sits waiting for ages"
If I don't already have a browser tab open on resin dashboard when I try login to the CLI, then it never succeeds, even if I open the dashboard while its waiting to connect it doesnt seem to work. Had to kill the cli command and restart it.

[2016-01-04 14:10] jviotti commented on #286
@shaunmulligan The browser tab is supposed to open no matter if your browser is not running, or you don't have a Resin.io tab opened already (I've just tested both cases to make sure).

Where are you running the CLI?

***

As a side note, I have a possible workaround to any potential browser issue:

- Allow the user to hit "enter" or any other key while the CLI awaits for the token to attempt to r

[2016-01-04 14:50] shaunmulligan commented on #286
Okay, actually I can't reproduce it anymore :anguished: I thought it might be because I use multiple different profiles on chrome, but it works all the time now. So i will close this.

[2016-01-04 14:50] #286 closed

[2016-01-24 22:17] jviotti commented on #250
Closing since this definitely looks like a network issue.

[2016-01-24 22:17] #250 closed

[2016-01-28 12:20] lekkas opened #309 "Update 'resin help envs' help message"
The message suggests using the device name:

[code]

when it should prompt for device UUID.

[2016-01-28 13:11] #309 closed

[2016-01-28 13:11] jviotti commented on #309
@lekkas Fixed, thanks!

[2016-02-03 17:31] craig-mulligan opened #311 "Allow device-type aliases"
Please add alias support for device type arguments, so you can pass `raspberry-pi` and `raspberrypi`

[2016-02-03 19:10] jviotti commented on #311
This feature is being implemented in the Resin SDK.

[2016-02-04 13:50] #311 closed

[2016-02-10 10:42] craig-mulligan opened #312 "Return online/offline state on resin device command"
`$ resin devices` only returns device state eg: downloading/idle/starting ect. but does not indicate online/offline.

[2016-02-10 12:51] jviotti commented on #312
@craig-mulligan Thanks for the heads up! PR coming!

[2016-02-10 13:33] craig-mulligan commented on #312
Awesome! :dancers: :

[2016-02-11 13:50] #312 closed

[2016-02-19 01:18] a-musing-moose opened #318 "Cannot login when installed on Ubuntu"
Hi All,

I am able to install `resin-cli` on my Ubuntu 15.10 box. But I am unable to run any commands. whatever I try I get an "Unauthorized" message.

Ubuntu: 15.10
Node JS: v4.3.1
npm: 2.14.2

[code]

[2016-02-19 01:21] a-musing-moose commented on #318
Note I get the same error when trying to run:

`resin help` and `resin quickstart`

[2016-02-19 01:33] jviotti commented on #318
Hi @a-musing-moose, thanks for reaching out!

That's indeed very weird! Can you try re-running any of the commands that trigger the error with `DEBUG=true`?

[code]

Exposing that environment variable will allow you to see the stack trace of the error, hopefully giving more information about why this is happening.

[2016-02-19 01:35] a-musing-moose commented on #318
Thanks @jviotti

[code]

[2016-02-19 01:39] jviotti commented on #318
@a-musing-moose Thanks for the quick response.

Can you try editing this file: `/usr/lib/node_modules/resin-cli/node_modules/resin-sdk/node_modules/resin-request/build/request.js`?

According to the stack trace the error happens in line 123, which corresponds to the following snippet:

[code]

Can you try logging the `options` variable? So the snippet looks like this after the edition:

[code]

An

[2016-02-19 01:55] jviotti commented on #318
I've submitted a PR to `resin-request` for showing debug information: https://github.com/resin-io/resin-request/pull/52

[2016-02-19 02:36] jviotti commented on #318
@a-musing-moose I published a new version of `resin-request` with support for `DEBUG=true` to NPM. In case you didn't perform the manual edition yet, you can getaway with it by updating the Resin CLI.

Since the new `resin-request` version is a patch increment, the Resin CLI will get the update automatically. Sadly, `npm update -g resin-cli` doesn't seem to be enough, so I recommend re-installing

[2016-02-19 03:34] a-musing-moose commented on #318
Right - I think I know what is going on now. When I ran the modified version I could see that the options contained a JWT. Which I thought odd as I haven't been able to log in.

So I went digging. Turns out that the token was stored in `~/.resin/token`. Where it came from is anybodies guess.

I deleted the token and was able to get things up and running. So thank you for your help.

It would also

[2016-02-19 03:48] a-musing-moose commented on #318
And just a little heads up. `/lib/actions/wizard.coffee` contains a hard coded path to the `.resin` folder that probably won't work for some of us ;-)

I'm not all that familiar with coffee script or the correct way to determine this path.

[2016-02-19 10:00] curcuz commented on #318
can confirm @a-musing-moose fix - i was able to get myself out of the same issue by deleting  `~/.resin/token`

[2016-02-19 11:59] jviotti commented on #318
@a-musing-moose @curcuz Thanks for the investigation, but I'm still struggling to reproduce this here.

- An invalid or malformed token in `~/.resin/token` successfully throws "Malformed token".

- Commands like `help` or `login` don't make any authenticated request. In fact the only HTTP request being made for those commands is `GET https://api.resin.io/config`, which doesn't require authenticati

[2016-02-19 12:34] jviotti commented on #318
@a-musing-moose Thanks for the heads up for the hardcoded path. Looks like something that was used for debugging at some point and got accidentally committed!

[2016-02-26 15:13] blalor opened #319 "Add command to reboot device"

[2016-02-27 00:13] jviotti commented on #319
Hey there, thanks for reaching out!

This is a great suggestion, which can be implemented using the [Resin Supervisor API](http://docs.resin.io/#/pages/runtime/supervisor-api.md#post-v1-reboot).

I'm opening a new issue in the NodeJS Resin SDK project to add support for this, and then we can expose a CLI command for it.

[2016-03-02 20:57] danielmahon commented on #318
@jviotti on osx Yosemite

(deleting `~/.resin/token` fixed it)

[code]

[2016-03-02 21:32] jviotti commented on #318
@danielmahon Thanks for the information.

I've investigated this issue, and it happens when the Resin SDK tries to refresh a token that is already expired in order to make the current request.

A fix will be published very soon.

[2016-03-03 15:37] #318 closed

[2016-03-03 15:43] jviotti commented on #318
The fix for this issue landed in [resin-request](https://github.com/resin-io/resin-request), which is a dependency of [resin-sdk](https://github.com/resin-io/resin-sdk), which is installed by the CLI. Given its only a patch version increment, re-installing the CLI should get you the fix thanks to semver:

[code]

[2016-03-03 15:45] jviotti commented on #318
BTW, there is another PR coming (https://github.com/resin-io/resin-cli-errors/pull/9) to interpret the new `ResinExpiredToken` SDK error to provide a more friendly message.

[2016-03-07 11:04] shaunmulligan opened #323 "allow move device to accept an array of UUIDs"
It would be super useful it the `resin device move` could allow someone to move a batch of devices from one application to another.

[2016-03-07 11:05] shaunmulligan commented on #323
`device rm`  as well as `env add` and `env rm` would also be awesome to have as batch actions.

[2016-03-07 12:33] #319 closed

[2016-03-07 12:35] jviotti commented on #319
This feature was released in v2.7.0.

[2016-03-15 23:17] mscharley opened #327 "Issue with resin cache for raspberry-pi"
Every so often I get the following issue:

[code]

Simply flushing the resin cache manually seems to fix it.

[2016-03-16 02:06] jviotti commented on #327
Hi @mscharley ,

Thanks for reaching out. This means that for some reason the download stopped in the middle and the received data is not complete. Usually this happens because of a flaky internet connection, although I'm aware we've been having some issues on the component that serves the image recently, which we're still tracking down.

For now, until the issue is really resolved, I guess the on

[2016-03-16 02:25] mscharley commented on #327
The issue is that I'm not getting a flaky download. The first download works fine then when it should be loading from the cache I get that error instead.

[2016-03-16 02:26] mscharley commented on #327
If I flush the cache to force a download it starts working again.

[2016-03-16 03:07] jviotti commented on #327
@mscharley What's the exact size of the file (`$HOME/.resin/cache/raspberry-pi.img`)?

[2016-03-16 03:12] mscharley commented on #327
[code]

[2016-03-16 15:23] jviotti commented on #327
@mscharley I've encountered a few download timeouts at the middle of the process by repeatedly running `quickstart`. I'll raise this with the rest of the Resin.io team in case there are known issues on the component that serves the images.

I see that the size and checksum match, so I'm not sure what could be going on. Some things I'd try:

- Try running `quickstart` with `DEBUG=true` in order to

[2016-03-16 23:10] mscharley commented on #327
[code]

[2016-03-17 12:55] jviotti commented on #327
@mscharley This is really weird. I can't reproduce it. So this is the same image that has the correct size and checksum?

Is there a chance you can upload this "broken" image somewhere (e.g: Dropbox) so I can experiment with it?

Also, what Resin CLI version are you running?

[2016-03-18 00:09] mscharley commented on #327
I was running 0.3.0 before, I just updated to 2.7.0 and completely deleted my `~/.resin` folder and I'm still having the same issue.

My cache folder: https://equiem-artifacts.s3.amazonaws.com/resin-cache.tar.gz

[2016-03-18 13:11] jviotti commented on #327
@mscharley Thanks for sharing this. I sadly still can't reproduce, even with your same image, which makes me wonder if there is something in your environment causing this issue.

What OS and NodeJS version are you running?

[2016-03-18 13:13] jviotti commented on #327
Also, can you reproduce the issue by running the following command instead of `quickstart`?

[code]

[2016-03-21 00:43] mscharley commented on #327
* OS - OS X 10.10.5
* Node.js - v5.7.1

Using OS download I initially got this message:

[code]

After clearing the cache folder though I got:

[code]

[2016-03-21 18:12] jviotti commented on #327
Hi @mscharley,

Thanks a lot for the incredible amount of help you're providing with this issue, very appreciated! We'll hopefully get to the bottom of it soon :)

I've investigated the `QUOTA_EXCEEDED_ERR ` error, which seems to be completely unrelated: We use `node-localstorage` to manage to files inside the data directory (defaults to `$HOME/.resin`). The module tries to mimic the browser and p

[2016-03-21 18:13] jviotti commented on #327
Also, if you can, give the CLI a go in other computer as well.

[2016-03-21 18:46] jviotti commented on #327
I've fixed the quota error in `resin-settings-storage`: https://github.com/resin-io/resin-settings-storage/pull/10. Thanks to semver, re-installing the CLI should get you the fix.

[2016-04-11 03:26] mscharley commented on #327
One of my coworkers just had the same issue too. He's running OS X as well, though he's running El Capitan.

[2016-04-11 04:38] mscharley commented on #327
That gist ran twice successfully. The output file is not gzipped (neither is the file in `~/.resin/cache`).

Downloading the rpi2 image twice gives the same failures even after updating to resin-cli v3.0.2.

[2016-04-11 13:27] jviotti commented on #327
@mscharley I'll do some more testing on this. In the gist I sent, the package is being unzipped on the fly (that's why the result is not compressed) and does not save the file in the cache (that's the responsibility of another component which makes use of the module I'm using in the gist).

If the gist works with no trouble, I believe the issue then resides in [resin-image-manager](https://github.

[2016-04-19 16:24] jviotti commented on #327
Hi @mscharley ,

I just worked on this with a user that was hitting this issue. The issue was gone by upgrading NodeJS to version v5.10.1 from v5.6.0 solved the issue. Can you confirm this as well?

[2016-04-22 22:53] mscharley commented on #327
Hmm, just the update to node didn't help but after reinstalling and flushing out the `~/.resin` folder the issue seems to have gone away. Not sure what to make of that, but there we go.

[2016-04-22 22:53] #327 closed

[2016-04-26 13:34] jviotti opened #341 "Fix NPM publishing"
The last published version of the CLI lacks the following items:

- The CHANGELOG version should link to a visual diff of all the commits between the version and the previous one. See the bottom of the `CHANGELOG.md` for examples.

- The commit that was published to NPM should have an annotated tag whose value equals `vx.y.z`, for consistency with the other tags.

[2016-04-26 16:40] jviotti commented on #341
These issues were fixed when publishing v4.0.1.

[2016-04-26 16:40] #341 closed

[2016-06-02 21:35] 200018171 opened #347 "UNABLE TO GET ISSURE CERT LOCALLY"
Using resin client behind a company firewall and I get the following error using resin-cli:

I have tried to set strict ssl to false as a work around, but that doesn't work.

I'm working off an ubuntu 14.04 system and I've had to add internal certificates to get most https links to work, so I suspect the requested certificate is in my bundled certs at /etc/ssl/certs/ca-certificates.crt

Can someon

[2016-06-03 12:53] Tryum opened #348 "Can't use arrows on windows in 'quickstart'"
I could not select wifi over ethernet in the configuration after downloading the image.

It worked during the 'resin config reconfigure' thought.

[2016-06-03 13:17] Tryum opened #349 "Registering the device should be optional"
I had issues flashing/configuring devices, and my resin.io account got filled with non-existing devices.

The resion.io should be done at the last moment, and should be optional.

[2016-06-06 13:36] jviotti commented on #348
Hi @Tryum ,

I'm aware of some https://github.com/SBoudrias/Inquirer.js quirks in Windows. What Windows version and terminal emulator are you using?

[2016-06-06 13:38] Tryum commented on #348
It was on windows 10, and I was using the default terminal (cmd.exe).

Thibault Jochem
Software Engineer
EFREI Promo 2007

On Mon, Jun 6, 2016 at 3:36 PM, Juan Cruz Viotti <notifications@github.com>
wrote:

[2016-06-06 13:39] jviotti commented on #349
Hi @Tryum ,

The problem is that we need to register a "device resource" in our backend in order to be able to proceed with configuration, so we can't delay that any further.

We do have logic to automatically remove the the created device resource if anything fails along the way. What error are you getting? You can get a stack trace and other helpful debug information by enabling the `DEBUG=true`

[2016-06-06 13:39] jviotti commented on #348
Awesome, I'll try to reproduce and either create a ticket in Inquirer, or attempt to fix myself.

[2016-06-06 13:40] Tryum commented on #349
Ok,

I think I aborted with ctrl+c, thus skipping the fail recovery ;)

Thibault Jochem
Software Engineer
EFREI Promo 2007

On Mon, Jun 6, 2016 at 3:39 PM, Juan Cruz Viotti <notifications@github.com>
wrote:

[2016-06-06 13:41] jviotti commented on #349
Ah I see. I believe we should be able to catch that signal. I'll make a note to investigate that further.

[2016-06-06 13:46] Tryum commented on #349
I think I aborted when I saw I could not select wifi over ethernet (other ticket).
And I may have done it twice to be sure it was broken ;)

[2016-06-06 14:20] 200018171 commented on #347
I get the same issue with any command:

UNABLE_TO_GET_ISSUER_CERT_LOCALLY: unable to get local issuer certificate

[2016-06-06 14:34] jviotti commented on #347
Hi @200018171 ,

I see. I found some NPM related workarounds like the one you said you tried before, however I don't think that's the way to go give that the error is been caused by the CLI, and not by NPM.

What I'd do is the following:

- Try to find where the CLI NPM package was installed in your system. In the source code directory, edit `node_modules/resin-request/build/request.js` and change

[2016-06-06 18:12] alexandrosm commented on #349
@jviotti -- we should be creating the uuid locally and only provision in
resin after we have successfully written to the device -- is this possible?
The alternative approaches feel like workarounds more than solutions.

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Mon, Jun 6, 2016 at 6:46 AM, Thibault Jochem <notifications@github.com>
wrote:

[2016-06-06 21:03] jviotti commented on #349
@alexandrosm I just took a closer look at this and thought about it for a while. I think I can envision a way to implement this without adding unnecessary complexity to the lower level commands that conform `quickstart`, so definitely worth a shot. I'll update this issue with my findings once I allocate some time to work on it.

[2016-06-08 11:30] shaunmulligan opened #350 "Resin Sync should follow the `COPY` commands from the Dockerfile"
It would be useful if resin sync could figure how how to correctly sync files based on the `COPY` commands it reads in the Dockerfile.

[2016-06-08 13:13] jviotti commented on #350
@shaunmulligan I think a better place for this issue would be the https://github.com/resin-io-modules/resin-sync project, since that's where the sync logic is implemented.

I'll move it for you and close this one.

[2016-06-08 13:13] #350 closed

[2016-06-13 16:21] lekkas opened #351 "Better wording in `config` resin cli commands"
IMHO `Use this command to inject a config.json file to the SD card of a provisioned device` is more accurate and less confusing than the current `Use this command to inject a config.json file to a provisioned device`.

Sending a PR shortly, feel free to accept/reject on taste.

[2016-06-13 16:23] jviotti commented on #351
Hi @lekkas ,

Good point, but please consider the following case when sending the PR:

- There might be devices using another form of removable drive that is not an SD Card. We shouldn't hardcode "SDCard" here IMO.

Happy to accept it though, makes a lot of sense.

[2016-06-13 16:42] lekkas commented on #351
Right, good point, I'm biased with having all those SD card enabled devices hanging around.

How about `[...] inject a config.json file to the mounted filesystem (e.g. SD card) of a provisioned device`

?

[2016-06-13 17:51] jviotti commented on #351
Looks perfect to me!

[2016-06-14 16:10] #351 closed

[2016-06-21 09:35] lekkas opened #353 "Add -v option for the resin ssh command"
Increase verbosity without requiring to hotpatch `resin-cli` to aid troubleshooting whenever this is needed.

[2016-06-22 13:37] #353 closed

[2016-06-22 16:05] lekkas opened #355 "Support verbose mode in resin sync"

[2016-06-22 20:18] #355 closed

[2016-06-23 03:16] imrehg opened #357 "command signatures in help"
Been thinking that the command description in `resin help` (the overview) is still a bit too sparse and inconsistent, and how to improve on that. Some notes:
- `help [command...]`: why the `...`? I think only one command can be called.
- there are commands that have optional parameters that are listed as bare commands (`login`), while others are listed with one of the parameters highlighted (`sync

[2016-06-23 13:21] jviotti commented on #357
Hi @imrehg ,

The sparse modifier is required to be able to parse commands like `resin help app create`, since the actual command has more than one word. Sadly hiding the `...` might not be very straightforward since Capitano is built such that you can specify the command signature declaratively, and the same signature that gets parsed by Capitano is the one used in the help description.

Maybe we

[2016-06-25 08:00] imrehg commented on #357
I think we are pretty much on the same page, and thanks for illuminating a lot of things!

Ah, I actually glanced over the fact that there are commands with multiple words. Actually, there's only one, `app create`, others are all single word. Yeah, I think it's fine the way it is now.

Yeah, it looks some way more natural, though to me does not look particularly "linuxy" - but I admit that it wasn

[2016-06-27 13:33] jviotti commented on #357
Notice that we only show the most common commands in `resin help`, while showing all of them with `resin help -v`. There are many multiple word commands:

[code]

I'm all for it. I'm going to send a PR soon.

Yeah, that could work. In any case, displaying all the options will certainly cause the help output to horizontally overflow, but maybe we can change the `resin help` layout to include the co

[2016-06-27 13:35] jviotti commented on #357
Regarding the `[options...]` additions, I just remembered we do something like this for the "usage" line already:

[code]

From the conversation above I suspect this is not enough? What do you think? Should we still add it to every command?

[2016-06-30 01:47] imrehg commented on #357
I think your explanation as a whole makes sense. A lot of things are indeed right in front of me if I look and understand. Maybe the signal from this is that even if the info is there, people might miss it (assuming an average `Gergely`) but how to fix that is tough (without a Psychologist in Residence).

Based on this, it's probably better to:

* leave the things the way they are in the code, unl

[2016-06-30 08:53] imrehg opened #358 "Go to Dashboard link after web authorization with RESINRC_RESIN_URL"
When using resin-cli for staging as `RESINRC_RESIN_URL=resinstaging.io resin login`, I use use the web authentication. It logs me in fine, but the final "go to dashboard" button (on the page served locally) points at `dashboard.resin.io` instead of the expected `dashboard.resinstaging.io` based on the env variable. (updated)

[2016-06-30 09:06] emirotin commented on #358
Typo? The last URL should be `dashboard.resinstaging.io`

[2016-06-30 09:07] imrehg commented on #358
Yup, sorry, corrected.

[2016-06-30 15:12] jviotti commented on #358
Ah, true. Turn's out the URL is hardcoded on such page (https://github.com/resin-io/resin-cli-auth/blob/master/pages/success.html#L18). Some tempting magic should fix it.

[2016-06-30 16:26] jviotti commented on #357
Haha, good guides are definitely a good thing, but I believe that if
there's a way to simplify the experience in a way that makes external
guides unnecessary we should try to go that way.

On Wed, Jun 29, 2016 at 06:47:11PM -0700, Gergely Imreh wrote:

--
Juan Cruz Viotti
Software Engineer, Resin.io

[2016-07-01 13:43] lekkas opened #359 "Add option to specify destination directory in resin sync"
At the moment `resin sync` always updates `/usr/src/app` in the application container. It would be useful to add an option like:

`resin sync --dest /app`

[2016-07-01 13:46] jviotti commented on #104
I'm closing this since the feature will be implemented in Etcher, whose backend is then re-used in the Resin CLI: https://github.com/resin-io/etcher/issues/171

[2016-07-01 13:46] #104 closed

[2016-07-01 16:29] lekkas opened #360 "resin ssh: autochoose device in the `resin sync` fashion for consistency"
Auto choose device if there's a single one

[2016-07-01 18:39] lekkas opened #361 "resin sync: add --delete rsync flag to delete files not found in source directory"
We could have this by default, but in that case, given that users will be able to specify target directories, one could accidentally delete important data (e.g. with `resin sync --dest /data`).

[2016-07-06 17:07] lekkas commented on #361
Closing this, at least for now, because the `--delete` rsync option will be added by default in `resin sync` when syncing project directories. Regarding custom destination use case, there are more things to be discussed so new tickets will be created if necessary.

[2016-07-06 17:07] #361 closed

[2016-07-06 17:08] lekkas opened #362 "Export 'resin sync' capitano frontend to 'resin-sync' module and require it from there"
This will help reducing the overhead of sending two PRs each time a parameter is added/modified.

[2016-07-07 15:20] lekkas opened #363 "resin sync: filter offline devices in drop-down menu"

[2016-07-07 17:14] #363 closed

[2016-07-07 19:21] #360 closed

[2016-07-11 11:43] lekkas opened #366 "resin ssh: disable control master option"
ControlMaster auto is a common `.ssh/config` setting that is not supported at the moment by the ssh gateway - by disabling it on the CLI we can promptly have a work around this while this is being fixed on the ssh gateway side.

[2016-07-19 07:34] lekkas commented on #357
@imrehg @jviotti what's your take on showing required options in the `resin help` command overview screen?

For example, `config read` requires a `--type <type>` option or it will throw an error. To be fair, the error message informs the user about the missing option, but then there is no way for a user to tell beforehand which options are required.

So for the particular command, the help message

[2016-07-19 12:36] jviotti commented on #357
@lekkas In UNIX, this usually take the form of `config read [--type <type>]`.

[2016-07-19 13:08] lekkas commented on #357
@jviotti the above example represents required options, so it's in line with what you are saying on missing square brackets no?

The thing is that, in UNIX, options, being optional by definition, are usually optional and therefore represented in square brackets in `help` sections. But then, the form I propose is not perfect either because users might assume that the only available options are the

[2016-07-19 13:12] jviotti commented on #357
@lekkas

Right. See `tar` for another example showcasing both optional and required options:

[code]

They use curly braces to denote optionally, but notice that `-f` is a required option.

I believe we're all in the same page, and this notation should make sense to users.

[2016-07-19 13:12] lekkas commented on #357
What if Capitano also printed out the command's `help` section along with the error message? That way the user would get a second chance to inspect the command's usage and any required options can simply be marked as such in their `description`

[2016-07-19 13:14] lekkas commented on #357
Yeah just to make it clear I totally agree with your comments, just thinking out in the open :)

[2016-07-19 13:27] jviotti commented on #357
That'd be nice, and should be easy to implement.

[2016-07-21 13:43] lekkas opened #368 "Limit `resin sync` to device owners only"

[2016-07-21 15:22] lekkas opened #369 "resin ssh: Start shell in WORKDIR location (e.g. /usr/src/app)"

[2016-07-26 13:59] lifeeth opened #370 "Resin logs in production is broken in fresh installations of resin-cli"
Fresh installation of resin-cli is unable to retrieve logs, It is returning "undefined" for each log line.

Looks like a change in resin-device-logs repo might be responsible for this?

`26.07.16 19:04:26 [+0530] Hello World!`
`26.07.16 19:04:26 [+0530] Running... `
`26.07.16 19:05:26 [+0530] Running... `
`26.07.16 19:06:26 [+0530] Running... `

vs

`26.07.16 13:42:49 (+0000) undefined `
`26.07.16

[2016-07-26 17:03] #370 closed

[2016-07-28 12:39] lekkas opened #372 "resin sync: Remove quotes in --source/--destination help as it implies they're required"

[2016-07-28 12:46] lekkas opened #373 "resin sync/ssh: Always display selection dialog, even for a single online device"
Autoselecting the single online device in `resin ssh/sync` can cause confusion, considering that a user can have multiple devices with intermittent connectivity.

[2016-07-28 13:04] lekkas commented on #369
Will be fixed in the backend

[2016-07-28 13:04] #369 closed

[2016-07-28 14:36] lekkas opened #374 "Add --help global option"

[2016-07-28 14:56] lekkas opened #375 "resin sync: Always display selection dialog"
The previously used (and saved in `.resin-sync.yml`) device should appear as the default choice in the device dialog and not used directly.

[2016-08-01 00:41] #374 closed

[2016-08-03 22:10] villaseca opened #377 "resin ssh: doesn't work with ECDSA key"
After I tried to log in to a running device it says "Permission denied (publickey)". Checked with RSA and it worked fine.

[2016-08-04 01:01] imrehg commented on #377
It's mentioned in the docs, but admittedly not very well (only in the getting started guides, eg. [this one](http://docs.resin.io/raspberrypi3/python/getting-started/#some-notes-and-caveats-on-resin-sync))

As far as I remember, it's the limitation of the current, lightweight ssh server running on the device, that is in the process of being replaced with a full-featured one (can't seem to find rel

[2016-08-04 08:32] lekkas commented on #377
Hey @villaseca @imrehg ,

Thanks for the report!

Indeed this is a known issue on the ssh gateway side. The ticket is tracked internally, but let's leave this one open as well to make this limitation more clear.

[2016-08-05 21:57] villaseca opened #378 "resin ssh: PTY not allocated"
While trying to access to a device through `resin ssh` inside of a Robot test on [AutoHaT](https://github.com/resin-io/autohat) I'm getting the following error:

I need to send the device a few commands (`modprobe` and `lsmod`) with the script and I was not able to do that. Related to this [issue](https://github.com/resin-io/autohat/issues/1).

[2016-08-06 07:49] lekkas commented on #378
Hey @villaseca,

`resin ssh` must be run from an interactive shell. My guess is that the testing framework does not allocate a tty when running the `resin ssh` tests. Also, note that `resin ssh` doesn't support sending commands in the `ssh user@host ls -la` form - it only returns an interactive shell to the user.

[2016-08-08 20:45] shaunmulligan opened #379 "pinejs-client deprecated warning!"
when running the `resin devices` command, the CLI prints out a deprecation warning. We should update the pinejs-client as this error is very ugly and confusing.
[code]

[2016-08-08 20:48] shaunmulligan opened #380 "`resin logs <UUID>` truncates log output"
`resin logs <UUID>` truncates log output, even though the online guide says:

[2016-08-08 20:59] shaunmulligan opened #381 "There is no notion of "Config Env Vars" on the cli"
On the UI we have split envars, so we now have `RESIN_` special envars referred to as "Config Vars" but there is no equivalent on the CLI or SDK for that matter.

[2016-08-08 21:00] shaunmulligan commented on #381
additionally the `resin config` command can be confused with this feature

[2016-08-08 21:09] shaunmulligan opened #382 "Lots of Warnings when installing on Node 4.x"
Using Node 4.4.7 (current stable on OSX), when installing `resin-cli` (which still works) I get the following warnings:

[code]

[2016-08-09 13:13] lifeeth opened #383 "There is access to "deviceURL" configurations from resin-cli"

[2016-08-09 20:45] #383 closed

[2016-08-10 00:25] imrehg opened #385 "using sudo for elevation needs root use logged in to resin too"
The  `config read`, `config write`, `config reconfigure` group of instructions need elevation to work with the SD cards, and thus have to run `sudo resin config <etc>`. But this means that the root user will need to log in to the same resin account as well, and any other `user 2` on the same machine with root access can access the `user 1`'s resin account because of that.

Instead of running with

[2016-08-10 03:12] imrehg commented on #381
Very much needed indeed!
Looking at the options, I think adding a new flag to `resin envs` and `resin env add|rename|rm` to work with config vars would be a better place. For example already has notion of app env vars and device env vars, (as it will be needed for "fleet config" and "device config").

Eg. `env add RESIN_SUPERVISOR_DELTA 1 --device <UUID> --config`

[2016-08-10 12:57] horia-delicoti opened #386 "Resin-cli doesn't show the host OS version"

[2016-08-11 14:18] jviotti commented on #385
I agree. Let's make most `config` commands available without requiring to log in.

[2016-08-11 14:24] #386 closed

[2016-08-11 19:38] villaseca opened #388 "public-url: wrong URL while getting it with the shortened UUID"
Using `resin device public-url <shortened-uuid>` returns a URL with the shortened UUID instead of the complete UUID.

Example:

[2016-08-12 16:28] craig-mulligan commented on #388
Hey, thanks for reporting. You are right, the supplied uuid is used to compose the returned url. We should fetch the full one instead. The method must have been implemented before we accepted shortened UUIDs. https://github.com/resin-io/resin-sdk/blob/master/lib/models/device.coffee#L1119

I'll take a look at it.

[2016-08-12 16:32] craig-mulligan commented on #388
@villaseca I didn't realise that was you Thomas. I won't be so polite next time 😝

[2016-08-12 17:02] villaseca commented on #388
@craig-mulligan Bring it on 😁

[2016-08-14 09:38] imrehg opened #389 "graceful-fs"
Seems like when running tasks that require os image download (e.g. quickstart, os download...) this message is dropped on the user:

`(node:32761) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.`

This is probably related to other deprecation warnings reported.

[2016-08-18 15:33] shaunmulligan opened #390 "Resin sync: can't set destination directory as /data"
I think when the container stops for the sync the /data volume is not attached, so syncing to /data breaks the expectation of the user

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_2d99)

[2016-08-24 13:53] lekkas commented on #390
This feature would help https://github.com/resin-io-modules/resin-sync/issues/22. Or resin sync could even detect the `/data` destination directory and avoid stopping/restarting the container

[2016-08-24 15:10] lekkas commented on #368
reopened here: https://github.com/resin-io-modules/resin-sync/issues/37

[2016-08-24 15:10] #368 closed

[2016-09-01 08:17] imrehg opened #391 "resin quickstart downloads os image onto /tmp and might run out of space"
OS image is downloaded onto `/tmp`, but that's not really a good to assume to work. The local disk usually has enough space for people, but `/tmp` might be small. Just run the quickstart command on a server, where it had ~8GB disk space free, but still couldn't download (`/tmp` is only 500MB)

[code]

Should probably download to a temporary file in the directory it's been called from?

[2016-09-01 13:45] jviotti commented on #391
Hey there!

We download to `$HOME/.resin/cache` by default, but we fallback to
`/tmp` if there is no home directory, or you explicitly configured it
otherwise (based on your `df -h` output, I believe you don't have
`$HOME`).

I guess we could download to the current directory, however that means
that multiple runs of `quickstart` on different directories will cause
the cache to not be re-used, def

[2016-09-01 14:30] imrehg commented on #391
I'm most certainly have a home, and the same `/tmp` behaviour also exists on my laptop too.

[code]

I understand the quickstart issue, and makes sense, though I think people would expect, that if things happen the same directory where they are, they know it's reusable, and if they are in another directory, they might not want to reuse it anyways. But, the current default is definitely defensible.

[2016-09-02 02:21] jviotti commented on #391
Hm, then there is definitely something going on. Are you running this on
a Raspberry Pi? Running Raspbian, or Resin?

This is the module we use to determine the default location:
https://github.com/sindresorhus/home-or-tmp. Can you check what it
returns on your system?

Would logging something, saying that an image is being cached at a
certain path help?

This is promoted on the Resin CLI README,

[2016-09-02 10:17] imrehg commented on #391
**1) file download location**

Checked, `home-or-tmp` gives the correct home directory in both cases I have. One is an ArchLinux laptop, the other is an Ubuntu headless server.

Question, is resin-cli really using `home-or-tmp`? All I could find is this section in the code, which does not seem to make use of that at all, but the `tmp` module to generate a filename: https://github.com/resin-io/resi

[2016-09-02 13:17] jviotti commented on #391
Ah, I see, amazing catch. We should definitely be re-using
`$HOME/.resin` (or any configured directory) for this. Definitely my
mistake. I'll send a PR soon.

I agree, lets put it on `help --verbose`.

On Fri, Sep 02, 2016 at 03:17:50AM -0700, Gergely Imreh wrote:

--
Juan Cruz Viotti
Software Engineer

[2016-09-15 16:21] #359 closed

[2016-09-15 16:21] #366 closed

[2016-09-15 16:21] #372 closed

[2016-09-15 16:21] #373 closed

[2016-09-15 16:21] #375 closed

[2016-09-16 13:47] lekkas commented on #377
Hey @imrehg @villaseca, a quick update on this.

Both `resin sync` and `resin ssh` now work with ECDSA keys and [the docs have been updated as well](http://docs.resin.io/raspberrypi3/cpp/getting-started/#some-notes-and-caveats-on-resin-sync).

Cheers!

[2016-09-16 13:47] #377 closed

[2016-09-21 15:39] josephroberts opened #394 "`resin devices supported` command does not return the list of supported device types"
The docs state the `resin devices supported` command should return the list of device types but it doesn't. I am unsure how to find out the proper type for a RPi3

[code]

[2016-09-22 17:14] jviotti commented on #394
Hi @josephroberts ,

The `device supported` command was removed a year ago (https://github.com/resin-io/resin-cli/pull/160), and its not being listed in the command list.

Maybe worth pinging the docs maintainer to update the CLI reference?

[2016-09-22 17:21] josephroberts commented on #394
Hey @jviotti ,

Yes we could ping @lekkas and @shaunmulligan . The docs are out of date both at https://github.com/resin-io/resin-cli/blob/master/doc/cli.markdown and at https://docs.resin.io/tools/cli/#app-create-60-name-62-

Are they linked somehow?

Why did you state "The command is not necessary and unused."?
It seems like a nice way to figure out what the correct device type should be and dir

[2016-09-22 22:09] jviotti commented on #394
Ah, its mentioned in the `app create` help command. I must have missed
that when removing it. I'll update now.

Yeah, maybe we should bring it back. The CLI used to have tons of
"mini-commands" back then, and I remember we had a talk about removing
the ones that no-one needed (this command was brought up there).

Happy to add back if we all agree its useful now.

On Thu, Sep 22, 2016 at 10:21:31AM

[2016-09-23 02:06] imrehg commented on #394
I'd recommend adding it back, if it was removed. The first issue for me with the cli is always figuring out how our devices types are named (since they are non-obvious, and often non-consistent, see pi1/2/3). I remember talking about it a few months ago. I guess I just settled in with the few types that I use and remember that, but indeed, it's troublesome to try figuring out what the name of a ty

[2016-09-23 08:40] lekkas opened #395 "Show device dashboard link in `resin device <uuid>`"
Hey @jviotti , @imrehg , @shaunmulligan

What are your thoughts on adding the dashboard link of a device in the output of `resin device <uuid>` command, so that we can have something like:

[code]

This will provide a fast way get the dashboard link from a device when a user (or admin) only has a uuid.

[2016-09-23 11:01] josephroberts commented on #394
Yeah it needs adding back in IMO. See below:

[code]

[2016-09-23 17:04] jviotti commented on #395
Looks like a great idea. Is there a way we can get the link without
hardcoding its structure in the CLI?

On Fri, Sep 23, 2016 at 01:40:53AM -0700, Kostas Lekkas wrote:

--
Juan Cruz Viotti
Software Engineer

[2016-09-23 18:15] lekkas commented on #395
Cool, I'll send a PR!

hardcoding its structure in the CLI?

I'm not sure, @emirotin and @dfunckt might know more about this.

[2016-09-23 18:25] vitaly commented on #379
same here

[2016-09-24 03:09] imrehg commented on #395
I wonder how much hard-coding it needs, since the cli needs to work with `RESINRC_RESIN_URL`, which already includes just the main domain (i.e. "dashboard" is already hard-coded somewhere, since it's used with `resin login` too). A quick scan of the API calls available don't turn up info like that full link.

[2016-09-25 23:51] #394 closed

[2016-09-25 23:56] jviotti commented on #394
I brought back the `devices supported` command, and published v5.1.0 to NPM.

[2016-09-26 00:02] jviotti commented on #379
@shaunmulligan The problem is not that we need to update `pinejs-client`, but that some kind of query originating from the SDK is marked as deprecated by `pinejs-client`. I honestly don't understand the pine suggestion printed there, so I suggest moving this issue to the Resin SDK and bringing Page into the loop.

[2016-09-26 04:36] lekkas commented on #379
Created issue and sent PR here: https://github.com/resin-io/resin-sdk/issues/223

[2016-09-26 14:04] jviotti commented on #379
The fix landed in Resin SDK v5.3.6. I'm closing this issue since semver will make sure users get such version automatically.

[2016-09-26 14:04] #379 closed

[2016-09-30 12:30] agherzan opened #399 "Enter running application container"
# Description

Get a shell into a running application container using Resin CLI _`resin ssh`_ command.
# Steps to reproduce issue
1. Install resin cli with _`npm i -g resin-cli`_
2. Login with _`resin login`_. If testing on staging, prepend `RESINRC_RESIN_URL=resinstaging.io` to this and all subsequent _`resin`_ commands.
3. Create a single-container test application and provision a device with it

[2016-09-30 12:31] agherzan opened #400 "Sync application container"
# Description

Update code on a provisioned device using Resin CLI _`resin sync`_ command
# Steps to reproduce issue
1. Install resin cli with _`npm i -g resin-cli`_
2. Login with _`resin login`_. If testing on staging, prepend RESINRC_RESIN_URL=resinstaging.io to this and all subsequent `resin` commands.
3. Clone [this test node js application](https://github.com/resin-io-projects/simple-server-n

[2016-10-04 08:20] emirotin commented on #395
There's no easy way to build the UI URLs, so your best bet is to isolate all such manipulations in a single module and if eventually things change it will be easy to trace them and fix.

[2016-10-26 13:39] pcarranzav opened #401 "Add a device shutdown command"
The sdk does have a `resin.models.device.shutdown(uuid)`, but I couldn't find a `resin device shutdown` action here.

[2016-10-26 13:48] pcarranzav opened #402 "Allow forcing a device reboot (and shutdown)"
With resin-io/resin-supervisor#138, we'll make the supervisor stop the apps before rebooting or shutting down, which means that an update lock will prevent the action from happening and the endpoint will return a 423 status.
So the API endpoints for these actions now take a `force` option just like the `update` endpoint.
The device  reboot action should be able to take and pass this force option d

[2016-10-27 21:42] #401 closed

[2016-10-27 21:42] #402 closed

[2016-11-05 19:49] binarycrafts opened #408 "Unable to reconfigure on OSX Sierra"
$ sudo resin config reconfigure --type raspberry-pi

After I complete the reconfigure steps I get:
Unhandled rejection Error: EBUSY: resource busy or locked, open '/dev/disk3'

I have to sudo in order for reconfigure to work.
I have the SD card at:
/dev/disk3s1               40Mi   22Mi   18Mi    55%       512          0  100%   /Volumes/resin-boot

Manual edit of the config.json file works.

Is p

[2016-11-07 06:48] jviotti commented on #408
Hi @binarycrafts ,

It looks like the Resin CLI is failing to unmount your disk for some reason. We very recently sent a PR to `node-umount` to "force" unmount disks (https://github.com/jviotti/node-umount/pull/4), which may or may not fix your issue, but I think is worth trying.

The module got a patch version increment, so basically completely uninstalling and installing the Resin CLI again shou

[2016-11-17 15:29] squarenomad opened #409 "deprecated graceful-fs@1.2.3 with node v7+"
graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Symptom currently includes an inability to login to the resin service with the resin-cli tool. Outputted error is:
[code]

[2016-11-20 15:03] jviotti commented on #409
Hey there!

I've just gave this a shot on v7.1.0, in macOS Sierra and everything
seems to be working fine.

Can you try completely uninstalling the Resin CLI and installing back
again? It could be that the problematic dependency has been already
updated, and the fix landed automatically thanks to semver ranges:

[code]

If the problem persists, what OS and exact NodeJS version are you
running this

[2016-12-02 17:27] hh opened #410 "add resin config generate --ethernet and --wifi options for noninteractive cli"
Currently ```resin config generate``` does not allow specifying all necessary options via the cli.
It requires navigating with arrow keys interactively via console rather than specifying parameters.

[code]

This poses a problem to automation pipelines which currently need a work around using something like expect:

https://gitlab.ii.org.nz/iichip/resin-cli/blob/latest/config.exp
[code]
Our work a

[2016-12-05 04:36] jviotti commented on #410
Hey there,

Thanks for the suggestion, it sounds like a good addition. The problem is that the set of question we ask to be able to generate a `config.json` comes from an external service (the CLI blindly asks such questions), so hardcoding `--wifi`/`--ethernet` options would not be a possible way forward. As a consequence, we have to add some way for allowed options to be computed at runtime, or

[2016-12-05 06:41] hh commented on #410
Paired with a --show-opts and --generate-opt-file fill-me-out.json/yaml I think we have a winning combination!

Is there an API test suite or documentation area that addresses config generate and friends?
A quick look at https://docs.resin.io/runtime/data-api/ didn't reveal anything.

[2016-12-05 14:05] jviotti commented on #410
Sounds good! I'll try to allocate some time for this soon. In order to get unblocked, you could use https://github.com/resin-io-modules/resin-device-config, which is the low-level module that generates configuration to create a simple script that does what you want. You could also take a look at https://github.com/resin-io/resin-config-json, which is the module that injects `config.json` to the de

[2016-12-16 14:18] emirotin opened #411 "js-yaml is not in package.json"
But is used in the sync module

[2016-12-16 14:38] #411 closed

[2017-01-09 13:45] lekkas opened #414 "Fix cmd.exe documentation error"
`resin sync` and `resin ssh` JSDoc mention that cmd.exe can be used in Windows, which is wrong or at best, incomplete, since there are other dependencies as well (e.g. `rsync` for `resin sync`)

[2017-01-18 09:42] imrehg commented on #414
Came up in the forums too, and info would be appreciated what other dependencies are there for `resin ssh` and `resin sync`. https://forums.resin.io/t/windows-resin-cli-ssh/515

[2017-01-18 09:57] lekkas commented on #414
Thanks for the heads up @imrehg, a fix is on the way, I will update the documentation accordingly.

In the meantime, we recommend using a bash-compatible shell (e.g. Bash for Windows 10 or [Git Bash](https://git-for-windows.github.io/) with `ssh` and `rsync` (the latter is only required by `resin sync`) to be correctly set up in the shell environment. The `cmd.exe` shell is not fully tested and re

[2017-01-18 12:42] lekkas opened #415 "Support resin sync on AUFS devices"
Connects to https://github.com/resin-io/hq/pull/505

[2017-01-18 17:07] #414 closed

[2017-01-18 17:16] lekkas commented on #414
Landed in resin-cli@5.2.4

[2017-02-07 16:16] wrboyce opened #419 "`resin login` fails with an expired or invalid token"
I see this mostly when switching between resin environments.

[code]

[2017-02-07 16:24] jviotti commented on #419
Yeah, the whole CLI authentication mechanism is a mess, because we still don't have proper API keys support. As a workaround we use session tokens which are interpreted as expired when we switch contexts.

I guess we can catch the expiration error and delete it and display the login dialog directly. Letting the user know that the token is expired and ask him to retry manually doesn't make much sen

[2017-02-07 18:45] pimterry opened #420 "Automatically detect and report user errors in resin-cli"
@stefan-mihaila is looking at creating a standard Resin-wide package for this, which we can add to resin-cli when it's ready.

[2017-02-14 12:48] pimterry commented on #420
This now exists, we should try it out: https://github.com/resin-io-modules/resin-raven

[2017-02-21 13:04] #415 closed

[2017-02-21 15:30] emirotin opened #421 "Update to resin-event-log@^1.0.0"
It adds reporting to GA.
The API has slightly changed — see https://github.com/resin-io-modules/resin-analytics/tree/master/packages/resin-event-log

[2017-03-01 00:53] alberttwong opened #422 "resin ssh only allows you to login into devices that you have provisioned"
I work with other people.   I can only `resin ssh` to my device but I cannot `resin ssh` to my team mate's device device.

as a developer/ops person, I want all members who are collaborators to be able to ssh to any device that is member of the application so that they can login and make changes to the device and use resin cli tools (sync, ssh).

[2017-03-01 08:33] lekkas commented on #422
Hey @alberttwong ,

Thank you for raising this.

Your use case makes perfect sense and we are already working on a fix for that will allow you use both `resin sync` and `resin ssh` to your teammate's devices. This requires a few backend changes to be deployed first, so I will ping you in this ticket as soon as accessing collaborator devices is available. While I can't give an exact ETA, the change

[2017-03-03 12:01] lekkas opened #423 "resin ssh: handle undefined uuid parameter"
Passing `undefined` to `resin.model.device.has()` breaks in `resin-sdk@^6.0.0-beta2`

[2017-03-03 15:29] #423 closed

[2017-03-07 08:49] nexflo opened #425 "Resin ssh to local instance"
It seems ssh is routed via internet...making the connections super slow... as resin knows local IP...it would be good to set a flag local connect...so resin goes via local network..not via internet.

[2017-03-08 10:57] lekkas opened #426 "Integrate rdt"

[2017-03-08 20:42] lekkas opened #427 "Add --dns flag for `resin local push`"
This is required to work around DNS issues during build

[2017-03-08 21:42] lekkas opened #428 "Implement 'resin local stop [containerName] [--all]"
Features

* If `resin-sync.yml` is found on the local dir, the saved app_name should be used
* if no `resin-sync.yml` is found or the app_name doesn't exist, select a container from the list

[2017-03-09 11:24] #426 closed

[2017-03-09 12:31] lekkas opened #431 "rdt / resin-cli refactoring"
List of possible improvements:

- Separate module to handle `.resin-sync.yml` - Initially this was used only by `resin sync` and `rdt push` , now other sub commands might need to read this configuration cache (e.g. `resin local start`)

[2017-03-09 18:22] lekkas opened #432 "Filter out scanned devices that don't have docker socket exposed (i.e. docker info not available)"

[2017-03-09 22:23] lekkas opened #434 "Use experimental rds scan facilities with sudo"
* `resin local scan`
* `resin local push`

[2017-03-09 22:33] lekkas opened #435 "resin local configure does not unmount device automatically"
`rdt` did, however, unmount the SDCard after reconfiguring

[2017-03-09 22:38] alisondavis17 opened #436 "getHelp and reachingOut messages should point to Forums instead of Gitter"
In resin-cli/build/utils/messages.js, getHelp and reachingOut currently point to Gitter, whereas they sound point to the Forums.

```Gitter: https://gitter.im/resin-io/chat```

Should be replaced with

```Forums: https://forums.resin.io```

[2017-03-09 23:32] lekkas opened #438 "Get correct docker pid during resin local sync"

[2017-03-09 23:37] #438 closed

[2017-03-09 23:37] lekkas commented on #438
Fixed in https://github.com/resin-io-modules/resin-sync/pull/116

[2017-03-09 23:50] #428 closed

[2017-03-10 00:56] lekkas commented on #427
dns configuration apparently can't be passed as a `docker build` option

[2017-03-10 00:56] #427 closed

[2017-03-10 02:21] lekkas opened #440 "ENV INITSYSTEM on does not stream logs back"

[2017-03-10 02:41] lekkas opened #441 "resin local push environment variables"
Containers created with `resin local push` should have env vars that are expected to be found in resin.io apps as well, like:
[code]

[2017-03-10 12:58] #432 closed

[2017-03-10 17:01] pimterry opened #442 "Resin cli fails to log in if the password is purely a number"
https://www.flowdock.com/app/rulemotion/resin-frontend/threads/ycY7kLaOhNtGtP4PcV2w06FYOvp

[2017-03-10 17:12] pimterry opened #443 "With a bad token, resin cli can become entirely broken"
As part of reproducing #442, I changed the password for a test account to be purely numeric, and started reproducing and solving the issue. I had an old leftover token for this test account though, and with that in place, it was impossible (before or after that fix) to login or logout or see the help, or do anything with the cli, until the token is manually deleted from the disk. Not clear whether

[2017-03-10 18:04] #434 closed

[2017-03-10 18:36] lekkas commented on #440
opened in resin-sync

[2017-03-10 18:36] #440 closed

[2017-03-12 11:42] lekkas opened #445 "Remove any remaining rdt references in resin local"

[2017-03-12 22:29] emirotin opened #446 "Clear logs functionality is missing"
Right now the CLI differs from the UI in two ways (wrt device logs):
- it does not have the `clear` command for logs
- the logs history retrieved ignores the `clear` commands sent from the UI

The newest SDK (since 6.0.0-beta5) has the new methods:
- https://github.com/resin-io/resin-sdk/blob/master/DOCUMENTATION.md#resin.logs.clear (the new method)
- https://github.com/resin-io/resin-sdk/blob/mas

[2017-03-13 19:22] BrianAdams opened #447 "Login with --token broken"
Version 5.5.0

Logging in using the --token option appears to work, but subsequent commands fail with session token expired error.

If I use just "resin login" and choose token from the menu, everything works correctly.

This error makes it really hard to properly script some tasks.

[code]

[code]

[code]

[code]

[2017-03-14 12:22] CameronDiver opened #448 "Path separators on resin local push don't work on Windows"
At the hackathon somebody using windows attempted to use local mode and it all went fine, until a path was tried to use on windows that used backslashes `\`. I unfortunately don't have any stack traces or error messages due to the nature of finding it at the hackathon, and also I don't have windows so I can't reproduce.

It looked to me like `path.sep` was being used for something which was always

[2017-03-16 14:06] lekkas commented on #422
Hey @alberttwong @nexflo a quick update on this. Unfortunately this has proven to be more complex that we initially thought. Although a Pull Request has already been opened in our backend to support collaborator access, the discussion is still ongoing and we are already past the two-week window I'm mentioning above so I'd like to let you know. I will ping you again as soon as we have an ETA.

[2017-03-17 03:21] alberttwong commented on #422
That's okay.  What I did as a work around was to generate another ssh key and share it with my teammates.   Not perfect but works.

[2017-03-17 13:58] horia-delicoti opened #449 "The shutdown and reboot device commands do not work"
When trying to shut down a device with command: "resin device shutdown <device_uuid> " , the response I get is " _ is not defined "

[2017-03-17 14:54] pimterry commented on #442
This is [fixed](https://github.com/resin-io/resin-sdk/pull/281) in the SDK, it'll be fixed here when the SDK is next updated to > 6.0.0-beta5

[2017-03-17 15:10] pimterry commented on #449
A fix for this is now open in the SDK, this will be resolved as soon as that's ready and the cli is updated to the new resin-sdk (probably anything > `6.0.0-beta5`).

[2017-03-17 16:58] pimterry commented on #449
Damn, github autoclosed this - it's actually still in progress

[2017-03-20 15:29] shaunmulligan opened #451 "`resin os download` should allow OS version as an argument."
Something like `resin os download --os-version v1.24.1`

[2017-03-21 00:47] mscharley opened #452 "Issues downloading and installing new OS versions for raspberry-pi"
I'm having issues with provisioning new devices:

[code]

[2017-03-21 01:10] mscharley commented on #452
The images that are downloaded are valid .img files - I can mount them locally completely fine.

[2017-03-21 13:05] lekkas commented on #452
Hey @mscharley ,

You can also track https://github.com/resin-io/resin-cli/issues/451 , which was opened as a response to your issue. Cheers!

[2017-03-21 13:18] emirotin commented on #452
@lekkas so I'm currently working on making the OS v1 downloadable via the CLI as requested in #451, but it seems that the rest of the CLI would still not work with the OS v2 downloads (as highlighted by this issue). Am I right?

[2017-03-22 14:33] emirotin opened #454 "The program doesn't exit after downloading the OS"
This doesn't happen on master but happens with #453

There are 3 objects holding the process from exiting.
Two are `process.stdin` and `process.stderr`. `Unref`ing them removes them from the `process._getActiveHandles()`. The third one is a timer with the method called `listOnTimeout ` coming from the `timers` module.

So this looks like some of the newer dependencies may be holding the process, a

[2017-03-22 16:30] emirotin commented on #454
Looks like it's the memoizee's maxAge (which I've been able to trace with https://www.npmjs.com/package/wtfnode)

[2017-03-22 16:31] #454 closed

[2017-03-22 22:32] #451 closed

[2017-03-22 22:43] emirotin commented on #452
Hey @mscharley I've just published the CLI v5.6.0, can you give it a try?

Here's the full story behind the issue and what was done:
- we've recently published two preview releases of the resinOS v2.0.0 for the RPi family
- the CLI was always downloading the most recent release which always used to be v1 until recently
- it looks (I didn't have time to investigate it yet) the CLI configuration doe

[2017-03-22 23:04] mscharley commented on #452
`resin device init` is now working fine with 5.6.0 to install OS v1.24.1

A minor point of feedback though that's only slightly tangential - it'd be great if the CLI had an option to select which version as one of the options in the wizard if no option was given explicitly.

Currently our application isn't compatible with the 2.x OS either, leading to redirect loops if it ever got flashed.

[2017-03-22 23:13] emirotin commented on #452
Great to know!

Yeah, the OS version selection can and will be added to the wizard, so far I've implemented all the required primitives.

[2017-03-23 00:00] mscharley commented on #452
Actually, I spoke too soon.

Now I'm having a different issue entirely:

[code]

[2017-03-23 08:25] emirotin commented on #452
But what is exactly the problem? Auth was lost between the attempts?

[2017-03-23 08:43] emirotin commented on #452
Hm, actually I see it little bit differently. When it asks me to type the computer password _I think_ it should show the system dialog, but instead nothing happens and as I type the character in the CLI it advances to the next question.

[2017-03-23 09:24] emirotin commented on #452
UPD: so no, it's not supposed to show the system dialog, it's supposed to run the sudo command but something goes wrong, after a short timeout the control returns.

I think one contribution here is that I have passwordless sudo for this account to simplify some testing and that might be the issue. Will test it separately and file a new issue.

[2017-03-23 09:34] emirotin opened #455 "After web login the command doesn't exit on Linux"
Arch, zsh

Other related issues:
* when hitting Ctrl+C the program exits the browser even if it was opened independently
* on the UI side: if the user is not logged into the dashboard redirection to login does happen, but back redirection to the CLI auth page doesn't

[2017-03-23 09:40] emirotin opened #456 "expecting an array or an iterable object but got [object Null]"
https://github.com/resin-io/resin-cli/issues/452#issuecomment-288661711

My test account has passwordless sudo. When this code is ran
[code]

it prints the message and then the control returns to the main program after a while.
During the `device init` the program then crashes with `expecting an array or an iterable object but got [object Null]` which I don't yet know where it's coming from.

<img

[2017-03-23 09:40] emirotin commented on #452
So yes, I've created a separate issue for that and now I can see your problem: err'ing about the user not being logged in.

[2017-03-23 10:07] lekkas commented on #452
Yes you are right @emirotin , it's possible that there are other subcommands that depend no OS v1 specifics .

+1 on this. How will we handle v2 'proper' (non-prerelease) versions though? Hm I remember a thread a few days ago were we discussed this internally were the `strings` method was mentioned right?

[2017-03-23 11:53] emirotin commented on #452
`strings` is a dev-time hack for quickly checking the downloaded version, probably doesn't work well for production
We need a way to detect the version reliably (Petros has mentioned the presence of some file, I will find it), and we need to understand what's the problem with v2 and what should be changed. I'll create a separate issue for this, let's keep this for the v1 happy path that's currentl

[2017-03-23 11:53] emirotin opened #458 "Need support for OS v2"
Configuring it seems broken, needs proper investigation

https://github.com/resin-io/resin-cli/issues/452#issuecomment-288672241

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1cbt)

[2017-03-23 12:03] emirotin commented on #456
It may also be an issue for users having password for sudo, but after some sudo commands not having to enter it (as the OS caches it for a while and doesn't require for the consequent operations).

[2017-03-23 12:08] pimterry commented on #449
This is now resolved as part of version 5.6.0.

[2017-03-23 12:08] #449 closed

[2017-03-23 12:08] pimterry commented on #442
This is now resolved, in version 5.6.0.

[2017-03-23 12:08] #442 closed

[2017-03-23 12:10] #436 closed

[2017-03-23 12:37] emirotin commented on #452
So back to the original issue, I've confirmed my guess but I wonder how that used to work before.
The `device init` command sequences a bunch of other: it first downloads the image, then configures it (injects the app- and device-specific config), and then writes to the SD card.

The config injection involves some commands like mounting the img file that have to be ran as `root`. When later the CL

[2017-03-23 21:24] mscharley commented on #452
Why do you need to do `sudo resin <something>` at all? Feels like that's asking for trouble for all sorts of reasons, the least of which is auth tokens. Running eg. `sudo dd whatever` or `sudo mount` directly would be much more reliable.

[2017-03-23 22:12] emirotin commented on #452
I don't quite get the part about `Running eg. sudo dd whatever or sudo mount directly would be much more reliable.` Do you suggest interrupting the flow and asking the user to mount something before continuing?

I didn't work on the CLI before recently, but the core idea of the quickstart / provision flow was to have the most frictionless process for the end user. So the CLI tries to automate and

[2017-03-24 01:02] mscharley commented on #452
I don't mean that you should ask the user to run stuff, run it as part of the resin CLI process, but instead of trying to run `sudo resin [whatever subcommand]` which will run Resin as root and introduce the issues, run the commands that `resin [whatever subcommand]` would run with `sudo` in front of them so, eg.

Instead of:

[code]

Do the following:

[code]

[2017-03-24 06:34] emirotin commented on #452
Oh, now I get you @mscharley. Yes, this is my actual plan for the fix to this problem.

[2017-03-24 08:46] pimterry opened #460 "Resin Sync: Child process exited with code 12"
https://sentry.io/resinio/cli/issues/240477489/

[code]

[2017-03-24 13:21] pimterry commented on #420
Now deployed. I'm leaving a week for manual initial triage and ignoring of super-common issues, and to check this is all working nicely, then moving Sentry to log in UI-ops in Front, and closing.

[2017-03-24 13:33] emirotin commented on #456
It may be unrelated to the sudo password, there's a problem with multiarg promisification: https://github.com/petkaantonov/bluebird/issues/826

[2017-03-24 13:59] lurch commented on #456
Dunno if it helps, but in Etcher we use `is-elevated` and `sudo-prompt`
https://github.com/resin-io/etcher/blob/master/lib/child-writer/writer-proxy.js

(although I've not tested it in a passwordless sudo environment)

[2017-03-24 14:01] emirotin commented on #456
Thanks but I think it's unrelated. I now believe the bluebird stuff is the only actual problem.

[2017-03-27 08:35] emirotin opened #462 "User Request: fully non-interactive mode for device init"
That would need specifying the OS version and the device config (network, etc).

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1d9v)

[2017-03-27 10:40] emirotin commented on #456
After digging 4 levels deep into the dependencies (all of which are our modules) I've found that we're using a very old version of `resin-image-write` (which has been even renamed since then), which does

[code]

The `spread` thing here fails because the writeAsync is not returning an array (instead it's a single callback argument).

I understand why it used to work: Bluebird v2 used to wrap the m

[2017-03-27 10:42] emirotin commented on #456
I can assume this somehow may be related to the version of Node (as Tim has mentioned the code has worked just some time ago), but still can't properly explain it.

[2017-03-27 10:52] emirotin commented on #456
This issue was fixed upstream https://github.com/resin-io-modules/etcher-image-write/commit/de4655e6a572cd9eb094ca4e47fc29b62321800c but still why would it work for some people and not work for others?

[2017-03-27 11:36] pimterry commented on #460
See https://www.flowdock.com/app/rulemotion/resin-frontend/threads/3mVRqk4wsDYouJYHmQP66lr-4PI. To quote @lekkas:

[2017-03-27 13:16] pimterry opened #463 "Don't send errors during resin-cli development to Sentry"
See https://www.flowdock.com/app/rulemotion/resin-frontend/threads/sefd4nIIqcicy9GK7AwDxPIJX_1.

We'd like to track errors from locally or globally installed versions of resin-cli, but not when running it inside a resin-cli checkout. Seems like there's some options here using `.env` or config patching along with npm install hooks.

[2017-03-27 14:06] lurch commented on #456
Maybe this is something it might be worth @jviotti having a look at? Most of the Etcher code (and the modules used by it) is his baby ;)

[2017-03-27 14:38] jviotti commented on #456
I'll take a look. @emirotin I'd also check the npm version. Some npm versions might be trying to be too smart when flattening `node_modules`, and somehow cause the module to use an incompatible Bluebird version.

[2017-03-28 10:45] emirotin commented on #456
Thanks @lurch @jviotti but really I'm fine here. I mean I still don't know why it has happened, but I have identified the problem and already fixed it. It was previously fixed in the resin-image-write and this module was stuck on the old version. The PRs in resin-device-operations and resin-device-init fix this exact issue.

[2017-03-28 11:40] #456 closed

[2017-03-28 11:46] emirotin commented on #452
Hey @mscharley sorry it really took longer than I've expected because after fixing the sudo issue I've found another one that involved fixing and updating 2 sub-dependencies.

But now v5.7.0 should work properly (at least it does in my tests). Please let me know if it works or reopen the issue otherwise.

[2017-03-28 11:46] #452 closed

[2017-03-28 15:02] imrehg opened #464 "Consistency in help regarding device names"
Seen some mixing and matching of device types in the help, and would be good to consolidate them. An example from `resin os download --help`:

[code]

Should this rather be
[code]
to not miss `raspberrypi3` and `raspberry-pi`, the latter already being its own device type too?

There are probably other help items with similar mismatch, will look more.

[2017-03-29 07:30] emirotin opened #465 "Need a command to refresh the token"
Seems that currently there's no such

[2017-03-29 13:35] emirotin opened #467 "Expose the list of supported device types and their aliases"
With aliases.

And also mention that device types can have alternative names.

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1da1)

[2017-03-30 20:32] imrehg commented on #447
Hi, have you used a new token from the dashboard to log in? Those tokens have 1 week lifetime, so if you are trying to use an older token (I guess) something like this might happen?

Just tested `resin login --token "..."` followed by a `resin devices` on the latest `5.7.0` version, and token login works just fine.

[2017-03-30 20:35] BrianAdams commented on #447
Thanks. Did not know about the expiration on the dashboard tokens.  Is there another suggested means for creating tokens that can be used on build servers (don't expire).

[2017-03-30 20:38] imrehg commented on #447
@BrianAdams this question came up [in the forums this week too](https://forums.resin.io/t/auth-token-without-expiration-to-use-api/302), there's now open issue for it on this repo, you can subscribe to that: https://github.com/resin-io/resin-cli/issues/465

[2017-03-30 20:38] #447 closed

[2017-03-30 20:40] imrehg opened #468 "Warn if expired token is used to log in"
Looks like `resin-cli` successfully logs in with an expired token but then none of the commands actually work: https://github.com/resin-io/resin-cli/issues/447 Should `resin login` time expired tokens be rejected, or warned about?

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1d

[2017-03-30 21:13] emirotin commented on #468
Great point, if it's the case indeed the warning must be issued and such token must be dropped.

[2017-03-31 13:43] #420 closed

[2017-04-03 09:27] LucianBuzzo opened #469 "Can't delete an app that has a dependent application"
When trying to delete an app that has a dependent application I receive the error:
`ResinApplicationNotFound: Application not found: Virtuality9`

At the very least the error message should be accurate and explain why the app cannot be deleted.
Ideally, another dialogue should show, asking if the dependant application should be deleted.

[2017-04-03 11:39] pimterry opened #470 "Resin-cli doesn't support new ResinOS version format: `2.0.0.rev1`"
The new ResinOS version format is not pure semver. `2.0.0.rev1` has just been released, and cli OS downloads are currently broken.

[2017-04-03 14:14] pimterry commented on #470
This is now fixed in the latest `resin-cli` release: 5.7.1

[2017-04-03 14:14] #470 closed

[2017-04-04 07:50] emirotin opened #472 ""You don't have enough privileges to run this operation . . .""
The user on OSX 10.10 has this error when running device init. It happens after the password warning (but the prompt is not shown so the user is probably having passwordless sudo) so it's related to the os init command that involves writing the image.

[code]

This means EPERM / EACCESS error is thrown from the resin internal osinit command

<img src="https://frontapp.com/assets/img/icons/favicon-

[2017-04-04 15:51] imrehg opened #473 "resin device register only does the old long UUIDs"
With resinOS 2.0, the device UUIDs became half the length (~31~ 32 chars down from 62 characters). Running `resin device register AppName` only able to do the original 62 character version. Not sure if it's a problem, just highlight it, because this way images freshly downloaded from the Dashboard and images configured with the CLI will have different behaviour for 2.0.

What would be the right de

[2017-04-04 16:05] imrehg commented on #473
Actually, using the short UUID, `resin config generate` fails too, so can't use CLI for generating config for devices provisioned by images downloaded from the dashboard:

[code]

[2017-04-04 18:59] emirotin opened #474 "Doesn't work with Node v4"
We may not want to support it, it's an older version, not an LTS (which is 6), and not the recent stable (which is 7).

But if we do currently the reason it doesn't work is etcher-image-writer.
Juan is against publishing that module as ES5-compatible (https://github.com/resin-io-modules/etcher-image-write/issues/93#issuecomment-291589802) and suggests we do the transpilation in the CLI.

For refer

[2017-04-04 20:31] emirotin commented on #458
Actually it seems to work fine, I've just provisioned a device with 2.0.0+rev2

[2017-04-04 20:31] #458 closed

[2017-04-04 20:32] emirotin commented on #473
This should be easy to fix but this is a process fail: now is the first time I hear about some changes to the UUID generation.

[2017-04-04 20:56] emirotin commented on #472
As the very minimum if the spawned `sudo` command fails we should crash the main command, seems not to be the case right now.

We should also pass down the DEBUG flag to the spawned commands (how do we do it cross-platform?)

[2017-04-05 12:53] imrehg commented on #473
Likely relevant: https://github.com/resin-os/meta-resin/commit/4e537949ce9131f2e47d8e24ac5e366e31e38dd6

[2017-04-05 16:01] memolipd opened #475 "Can't find device on network (plugged into same hub)"
we're using a corporate network which has multicasting disabled I believe.

[2017-04-05 19:07] lekkas commented on #475
Hey @memolipd ,

`resin local` will only work with devices that have been provisioned with a `development`/`-dev` image (e.g. `v2.0.0-rc1.rev2-dev` for rpi3) and have [local mode enabled](https://docs.resin.io/development/local-mode/). It will filter out devices that do not expose a Docker socket.

`rdt` will, however, report any discovered resinOS devices happily, regardless of their Docker socke

[2017-04-06 11:19] lekkas commented on #474
For reference, [this is the ugly ES6-compatibility workaround we went with for rdt](https://github.com/resin-os/resin-device-toolbox/blob/master/lib/actions/flash.coffee#L52-L58) . Node 4 was still LTS back then.

Node 4 is not LTS but it'll be in 'maintenance' mode for one more year, which means it will still receive high priority fixes and doc updates.

[2017-04-06 13:26] emirotin commented on #474
Ah right, I've see this trick and am considering it here, but it's really
ugly and I still think upstream support makes sense, but well

On Thu, Apr 6, 2017 at 2:19 PM, Kostas Lekkas <notifications@github.com>
wrote:

--
Eugene Mirotin
Senior Frontend Engineer
site: Resin.io <https://resin.io/>, twitter: @resin_io
<https://twitter.com/resin_io>

[2017-04-06 13:32] lekkas commented on #474
I agree.

[2017-04-10 16:01] lekkas opened #477 "Don't require sudo when discovery is not needed"
For instance, when running `resin local push [ip]` we could optimise the process and not require sudo

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_d903)

[2017-04-10 16:20] pimterry commented on #473
Just seen this - turns out we actually do have an outstanding issue with ResinOS 2 then.

The config generation issue is in [resin-device-config](https://github.com/resin-io-modules/resin-device-config/blob/a6721d65ab51a9436f13b0ee63d1c41c8c1220af/lib/schema.coffee#L146) which is supposed to validate the generated device config, and has strong opinions on what UUIDs should look like. I'm thinking

[2017-04-10 16:25] imrehg commented on #473
thanks @pimterry. Yeah, the "is it a 1.x or 2.x device?" is a curious thing, because it will be a mixture later anyways (e.g. devices upgraded from 1.x to 2.x will be unlikely to get their UUIDs truncated, I guess). So I think generating long UUIDs shouldn't be a too big of a problem from the SDK's point of view, but the validation is.

A note, that currently `resin device register MyApp  --uuid <

[2017-04-10 20:14] nkaul opened #478 "Resin-cli doesn't support http/https proxies"
Resin CLI behind Firewall, doesn't use http, https proxies.
Upon investigation into firewall logs, its apparent that resin-cli client doesn't use http_proxy and https_proxy settings and tries to connect directly to internet

# resin --help
ECONNREFUSED: request to https://api.resin.io/whoami failed, reason: connect ECONNREFUSED 54.236.194.208:443

If you need help, don't hesitate in contacting us

[2017-04-11 12:21] craig-mulligan opened #479 "resin local docs"
We don't have `resin local` docs on the repo. Looks like they used to be generated with capitano, @lekkas did you give this a try?

I don't mind looking into it just wanted to check if there are major hurdles?

[2017-04-11 12:52] craig-mulligan commented on #479
For reference https://github.com/resin-os/resinos/pull/267

[2017-04-11 12:52] nkaul commented on #478
Behind enterprise Firewall: From the Firewall logs, it seems that my machine (source ip) is directly trying to connect to destination ip (api.resin.io) without even routing requests through proxy.

I setup a local proxy server(using charles proxy) at home yesterday and was able to confirm again that rein-cli doesn’t go through proxy at all.
The cli client should either have settings to configure h

[2017-04-11 13:10] pimterry commented on #478
Hi @nkaul, thanks for this! To be clear: if you could configure resin-cli to send everything through an HTTP and HTTPS proxy everything would work fine for you, is that right?

Given that, yes, you're entirely right, we don't yet have built in support for proxies. Keep an eye on this ticket and we'll take a look at adding that in soon.

[2017-04-11 14:57] lekkas commented on #479
Hey @craig-mulligan ,

Right, I missed to create/publish them when adding `resin local` commands. Normally `npm run doc` produces docs from comments, however I just tried to run it and it didn't produce docs for `resin local` commands because these are grouped in a folder (`actions/local`) and `extras/capitanodoc/index.coffee` doesn't seem to scan nested folders for actions.

So this seems like a

[2017-04-11 15:17] craig-mulligan commented on #479
Hey @lekkas yep it was a quick fix 👍 see #480

[2017-04-11 15:17] #479 closed

[2017-04-11 17:13] lekkas commented on #479
Rad! 🎉

[2017-04-12 13:47] pimterry opened #481 "Make UUID validation consistent"
When generating config (`resin config generate --device ${UUID}`) we validate the UUID according to [our schema](https://github.com/resin-io-modules/resin-device-config/blob/master/lib/schema.coffee#L142).

We don't do this elsewhere, at least including `device register` and potentially other places. We should make all this consistent one way or the other. Could be worth being more strict in the A

[2017-04-12 14:27] pimterry commented on #473
There's now a fix for the main issue here: https://github.com/resin-io-modules/resin-device-config/pull/44.

I've pulled out a separate issue for 'make UUID validation consistent' at https://github.com/resin-io/resin-cli/issues/481, because it's not urgent, and needs more investigation as a wider issue. Once that resin-device-config PR is merged this issue can be closed.

[2017-04-13 12:21] pimterry commented on #473
@imrehg Where did you get the UUID you used above from? @emirotin has pointed out there's some bytes/characters confusion here. Looking at the meta-resin change above more closely, we're moving to a 16 _byte_ UUID, which should lead to a 32 character UUID string, not 16 characters. Yours is 31 though. Any idea why?

[2017-04-14 08:17] emirotin commented on #474
Should be solved by https://github.com/resin-io-modules/etcher-image-write/issues/93

[2017-04-14 08:17] #474 closed

[2017-04-15 13:11] mh182 opened #483 "Upgrade resinOS on an unmanaged device without loosing data"
I open this issue based on the discussion in https://forums.resin.io/t/is-there-a-way-to-upgrade-resinos-without-flashing-the-image-again/793

Motivation: after running an unmanaged device for a couple days I have a few containers on it with data on `/mnt/data/resin-data/<app-name>/`. The only way to upgrade the device OS (as far as i know) is backup the data from the device,  download the newest

[2017-04-17 14:52] jviotti opened #484 "Release standalone version (that ships with Node.js)"
Various Etcher components that take care of the writing are going native. Since Etcher is also going to publish a CLI version, we sorted out a way to embed Node.js on the package,  code-sign it, and thus avoid any compilation need.

This will be part of Capitano in the future, but for now, take a look at the following Etcher scripts:

- Makefile target: https://github.com/resin-io/etcher/blob/mast

[2017-04-18 10:56] CameronDiver opened #485 "Update requests should not happen with every run"
Currently every run of resin-cli produces this for me:
[code]
It would be nice if it only did it once for each version or once each few weeks etc.

[2017-04-18 12:36] pimterry commented on #483
Thanks for filing this @mh182! I think it's likely that this is quite a bit more difficult than it sounds, but I can definitely see how this would be useful, you're totally right. Keep an eye on this ticket and we'll update it if/when we have a plan for this.

[2017-04-18 16:16] pimterry commented on #485
Interestingly, it used to do that, and we actually do this on purpose instead: https://github.com/resin-io/resin-cli/pull/325.

I kind of agree though - it's annoying when you're using the cli a lot and it keeps coming up. Thoughts @jviotti?

[2017-04-18 18:11] jviotti commented on #485
There is an `updateCheckInterval` option for `update-notifier` (https://www.npmjs.com/package/update-notifier)

[2017-04-19 02:01] Page- opened #486 "`resin` command fails silently if the resinrc.yml is invalid"
I tried on windows with the contents `RESINRC_RESIN_URL=resinstaging.io`

[2017-04-19 08:30] CameronDiver commented on #485
I personally think that it would be better to do it at most once a day, happy to PR this in if everyone is in agreement.

[2017-04-19 15:01] jviotti commented on #485
It sounds great to me :+1:

[2017-04-19 15:14] pimterry commented on #485
:+1:

[2017-04-19 16:23] emirotin opened #488 "Ask for confirmation if the password is weak"
As we add this feature to the UI we would also like to have it in the CLI where if the password is weak we would ask for the confirmation upon setting or changing it.

[2017-04-19 17:36] lifeeth opened #489 "resin device rm <uuid> returns an error if UUID is purely composed of numbers"
when the short uuid is purely composed of numbers (Example: 585644) - resin device rm fails with the following error message.
`ResinDeviceNotFound: Device not found: 585644`

[2017-04-19 18:24] emirotin commented on #489
One more side effect of numbers autoparsing :( I find this feature more harmful than useful.

[2017-04-19 18:29] emirotin commented on #477
Want to try it yourself or want me to work on it? The key is to offload the minimal task that requires sudo to an internal command and sudo-spawn it when needed - see the os init command and the internal.js for examples

[2017-04-20 07:11] pimterry commented on #460
I've managed to reproduce this myself locally. Device was working fine, but then the app container died (I synced some broken code and the app crashed). From then on all syncs consistently returning code 12. Example logs:

[code]

Restarting the application container and rerunning resin sync sorted that out fine. Could be that other users are hitting this similarly, and resin sync just needs to be

[2017-04-20 13:54] imrehg commented on #473
@pimterry sorry, it was an oversight. (yeah, 32 character UUID instead of 31 I've said originally).

I've got the UUID from the dashboard, copied from a 2.0.0 device.

[2017-04-20 16:57] emirotin commented on #455
Not reproducible anymore

[2017-04-20 16:57] #455 closed

[2017-04-20 17:58] emirotin commented on #468
The key changes are here https://github.com/resin-io-modules/resin-token/issues/29

[2017-04-21 10:27] emirotin commented on #486
Additional work is done here https://github.com/resin-io-modules/resin-settings-client/pull/40 to make the exception much more informative

[2017-04-21 10:28] emirotin commented on #463
This should be configurable, as the very least we want Raven to still be capturing the errors, just don't send them to the server.

[2017-04-21 12:19] pimterry commented on #473
Thanks @imrehg! This has now been fixed in `resin-device-config@4.0.1`. This will work in the next release, once https://github.com/resin-io/resin-cli/pull/487 (which bumps us to `^4.0.0`) has been merged.

[2017-04-21 14:27] imrehg commented on #410
In general I get quite a few requests for completely non-interactive `resin config generate` (so it's possible to use the script automated). Would that be possible to include in the near-term updates? Would help with things like the workflow we've shown in our [preloading and preprovisioning blogpost](https://resin.io/blog/advanced-device-provisioning-workflow-for-large-fleets-preloading-and-pre-p

[2017-04-21 16:21] pimterry opened #491 "Make the various sync/push/deploy commands consistent and clear"
See discussion around local builds here: https://github.com/resin-io/hq/pull/732#discussion_r111994981.

We currently have:

* `resin sync` - rsyncs files to a remote device
* `resin local push` - sometimes builds and deploys a container to a local device, sometimes rsyncs

We'll soon also have `resin deploy`, which will build and deploy containers to remote devices.

It's not clear from the names

[2017-04-21 20:11] #486 closed

[2017-04-21 20:15] emirotin commented on #486
This is fixed but not yet released.

[2017-04-21 21:30] brownjohnf commented on #491
Why not do:

[code]

Or alternatively

[code]

[2017-04-23 00:06] brownjohnf commented on #381
I was talking with @pcarranzav recently, and if I understood him correctly, the supervisor has no notion of config vs. env vars. I think it's confusing to the user to split them anywhere, including the UI (I know it confuses me). Is there a compelling reason we've kept them separate? Why not just indicate that any var beginning with RESIN_ will be treated differently by the supervisor, and put som

[2017-04-23 00:08] brownjohnf commented on #477
+1 on this. It also makes the .resin-sync.yml file owned by root, which is irritating.

[2017-04-23 00:11] brownjohnf opened #492 "Print warning on `resin local push` with env vars if a `sync` is going to be performed"
I find it confusing that if you 1) run `resin local push` with no env vars, change your application code to expect env vars, and then run `resin local push -e SOMEVAR=blah`, resin-cli will intelligently use `sync` (which is great), but silently ignore the env vars you've set (since the container is just restarted, not re-created). I understand *why* this is the behavior, but I think we should prin

[2017-04-23 05:28] pcarranzav commented on #381
It's the API that has (mostly) no notion of config vars, and stores both env and config vars in the same table.
The config/env split is done on the device state endpoint and the supervisor does distinguish between the two.
The original UI had env and config together, and then the split came to clarify the difference, and then the supervisor at some point stopped exposing the config vars to the app

[2017-04-24 13:33] pimterry opened #494 "Wifi configuration does not work for Resin OS 2"
Looks like we write the wifi info into config.json, but not system-connections, so it doesn't actually take effect.

[2017-04-24 13:40] pimterry commented on #494
This is when using `resin os configure`. Looks like `resin local configure` does support this though, so that should be a usable workaround.

[2017-04-24 16:05] brownjohnf opened #496 "resin-cli unable to configure zipped image"
Not sure how dificult this would be, but it would be great if you could use `resin local configure` on a zipped image, since that's how they're downloaded, and etcher is capable of writing them zipped. It would make the end-to-end experience pretty slick.

[2017-04-24 20:52] lekkas commented on #477
Hey @emirotin , it would be great if you have time to look into this.

[2017-04-27 14:39] pimterry commented on #491
I marginally prefer the original syntax above, but I don't object to either of those as alternatives if others prefer them.

Definitely agree there's some interesting things we could do to improve the dev experience here with configurable (or even automatic?) local/cloud behaviour, but I think we should punt that as a separate issue to keep this focused for now.

[2017-04-27 14:42] pimterry commented on #492
This would potentially be solved by https://github.com/resin-io/resin-cli/issues/491. If we move to separate deploy/sync commands then you're explicitly opting in to one of those behaviours, and it's much less likely that this would unexpectedly bite you. It'd be very easy from there to always refuse `-e` arguments on `resin local sync` too for example, to make this totally impossible.

[2017-04-27 14:47] pimterry commented on #491
Also, if we did split these, would we still want to expose a way to get the intelligent sync behaviour somehow? If so, how would we like to do that? I don't get much value from that personally, but if we do want to keep it I can think of a few options:

* Have `resin local push` in addition to `local deploy` and `local sync` - push just checks the triggers and delegates to the appropriate other co

[2017-04-27 15:53] #468 closed

[2017-04-27 15:53] emirotin commented on #468
Released in 5.8.0

[2017-04-27 15:56] emirotin commented on #477
OK will do as soon as I have time

[2017-04-27 16:05] petrosagg opened #501 "Unicorn levels are too low"
When building locally there is no unicorn to celebrate a successful build or deploy.

![2017-04-27_16 00 57](https://cloud.githubusercontent.com/assets/939420/25492615/7a1080ca-2b6b-11e7-9151-8f7261e2a33a.png)

Compare this with the output of a resin push:

![2017-04-27_16 03 19](https://cloud.githubusercontent.com/assets/939420/25492620/7ed9bacc-2b6b-11e7-8938-e29c36952024.png)

[2017-04-28 03:05] petrosagg commented on #501
Actually that should probably be output after `resin deploy`, not `resin build`

[2017-04-28 13:15] pimterry opened #503 "Add a command to download image config only"
Connects to https://github.com/resin-io/hq/issues/774.

Support should be available in the SDK once https://github.com/resin-io/resin-sdk/pull/313 is done.

[2017-04-29 14:22] Biaggio74 opened #504 "No Dockerfile was found in the project directory: ."
Following the instruction from here:
[No Dockerfile was found in the project directory: .](url)
but around local push the following error pop up on the command line:
`No Dockerfile was found in the project directory: .

If you need help, don't hesitate in contacting us at:

  GitHub: https://github.com/resin-io/resin-cli/issues/new
  Forums: https://forums.resin.io`
My tree files are attached.
[re

[2017-04-29 14:39] Biaggio74 commented on #504
After removing .template extension from Dockerfile the building is started. However the following error msg came up:
`* Building..
- Stopping and Removing any previous 'base-resin-python-local' container
- Building new 'base-resin-python-local' image
Step 1 : FROM resin/%%RESIN_MACHINE_NAME%%-python
rdt push failed. Error: Error parsing reference: "resin/%%RESIN_MACHINE_NAME%%-python" is not a val

[2017-04-29 16:08] Biaggio74 commented on #504
Since my project was in production previously the %%RESIN_MACHINE_NAME%% was used in the Dockerfile, so the base Docker image was not loaded properly I guess.
Please correct me if I am using improper terms, but it solved my problem when I replaced the **%%RESIN_MACHINE_NAME%%** with **raspberrypi**.

[2017-04-29 19:12] lekkas commented on #504
Hey @Biaggio74 ,

It looks like you figured it out :)

Currently `resin local push` does not support `Dockerfile.template` resolving (i.e. generating proper Dockerfile from a `Dockerfile.template`).

However, we are already working on this and we will soon integrate [our OSS module that performs template resolving](https://github.com/resin-io-modules/resin-bundle-resolve) into the cli. When this i

[2017-04-30 10:20] Biaggio74 commented on #504
Hi @lekkas,
One more thing which is still related for deploying resin local.
In some post I've seen the following how to read env variables from the .yml file which is created in the project folder.
I tried this:

In .yml file
env-vars:
   -varUUID: RESIN_DEVICE_UUID

However, in this way it was not working when I called the varUUID var from somewhere in my code, in the python file. How should I r

[2017-05-01 10:30] lekkas opened #506 "resin local push: Add no-cache option"

[2017-05-01 11:12] #478 closed

[2017-05-01 12:39] emirotin commented on #478
@nkaul the proxy support has been released in 5.9.1. Can you please give it a try and let us know how it works?

[2017-05-01 16:14] craig-mulligan opened #507 "Add note for (Check available types with _$ resin devices supported)"
Moved from https://github.com/resin-io/docs/pull/403

[2017-05-01 23:41] alisondavis17 opened #509 "User complains that CLI tools are too slow"
<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1kjr)

[2017-05-04 09:18] lekkas commented on #504
Hey @Biaggio74 ,

Sorry for the late response. There are two ways you can specify environment variables:

* The first one is to pass `--env` options in `resin local push`, e.g.
  * `resin local push --env 'varUUID=RESIN_DEVICE_UUID'`. `resin-cli` will automatically save your environment variables in `.resin-sync.yml`
* The second one is to edit `.resin-sync.yml` directly and in that case the prope

[2017-05-04 12:22] #501 closed

[2017-05-05 09:36] pimterry commented on #347
Closing, feel free to reopen with more details if this is still an issue.

[2017-05-05 09:36] #347 closed

[2017-05-05 09:37] pimterry commented on #362
@lekkas this is done, right?

[2017-05-05 10:12] lekkas commented on #362
@pimterry yeah, we can close this.

[2017-05-05 10:49] #362 closed

[2017-05-05 13:02] emirotin opened #512 "SSH to the device behind the proxy"

[2017-05-05 19:19] Biaggio74 commented on #504
Hi @lekkas,
Thank you

[2017-05-06 13:44] Biaggio74 commented on #504
Hi @lekkas
My .resin-sync.yml is looks like this:
[code]

But I am still getting the following error:
[code]

[2017-05-06 17:01] imrehg opened #513 "DeprecationWarning on resin deploy"
Just tried `resin deploy`, and got a deprecation warning, here's the info:

[code]

[2017-05-08 13:40] pimterry commented on #513
Paging @CameronDiver. Any idea what would be causing this?

[2017-05-08 13:52] CameronDiver commented on #513
I'm not really too sure, it's not something that I've encountered before. @imrehg could you post the output of `npm list` in your resin install directory please? Also could you run with `DEBUG=1` and post the error message and stack trace please?

[2017-05-08 16:14] imrehg commented on #513
[code]

Output of `npm list`:

[code]

[2017-05-10 22:05] emirotin commented on #485
@CameronDiver hey still interested doing this?

[2017-05-10 22:51] emirotin opened #516 "SSH and sync throw `App not found` if there's no running container"

[2017-05-11 09:40] pimterry commented on #516
I've noticed resin-sync doesn't handle the situation very neatly either. Might be worth having a zoom through all our device commands, and making sure they're clearer at handling and explaining this use.

[2017-05-11 16:09] CameronDiver commented on #485
Ah sorry this slipped through the cracks! Yeah I'll do this today. Thanks for reminding me.

[2017-05-11 19:14] CameronDiver opened #519 "Inconsistent rules for application names"
On the dashboard we can use upper case letters in application names, but not in resin-cli:

[code]

[2017-05-11 21:57] lekkas commented on #519
@CameronDiver what particular cli command is this message from?

I guess it's from `resin local push`, in in the previous rdt context the 'application' referred to a standalone container running on an unmanaged resinOS device. So I guess we can change these messages to refer to `application container` to make it more clear, because these limitations apply to container names in the docker API (can'

[2017-05-11 23:24] CameronDiver commented on #519
Ah ok that makes more sense (it was `resin local push`), I had figured it was supposed to have parity with the dashboard but it makes sense that it would be docker rules.

[2017-05-12 08:54] pimterry opened #520 "Include the full command line used in Sentry errors"

[2017-05-12 08:54] pimterry opened #521 "Include the .resin-sync.yml in Sentry errors (where available)"

[2017-05-12 08:54] pimterry opened #522 "Include the user's username in Sentry errors (where easily available)"

[2017-05-12 16:48] michal-mazurek opened #526 "resin sync does not work with passphrase protected ssh keys"
"resin sync" never worked for me, until i figured out i need to start an ssh-agent beforehand. my ssh key is protected with a passphrase. there was no user feedback suggesting that

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1o8j)

[2017-05-12 18:27] imrehg opened #527 "Git for Windows does not seem to come with rsync"
In the docs it is suggested to use for example Git for Windows. Tested the current (2.13.0) version, and `bash` in that does not seem to have `rsync` that is required for `resin sync`, and thus sync does not work. These Windows instructions might need update and/or clarification? (used on Windows 10).

[2017-05-15 10:53] lekkas opened #528 "resin local push taking too long to get from "Building new..." to "Step 1""
As reported by user, the cli seemed stuck for a long time (30 minutes). There were no logs attached, and one theory is hat the build context directory was huge, in which case we should document this better.

Reported for a NUC device

[2017-05-15 11:10] lekkas opened #529 "Create issue template for resin-cli"

[2017-05-15 11:11] lekkas opened #530 "resin sync failing with up() in/out/err failed"
[code]

[2017-05-15 14:03] jhermsmeier opened #531 "Display shared applications"
Currently when running `resin apps` only owned applications are displayed, while shared applications can only be seen when specifying their names explicitly through `resin app <name>`.

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1ojb)

[2017-05-15 19:16] jviotti commented on #528
Could this build step be rightfully taking a lot of time because of some reason? If so (and maybe even if this is not the case), can we make the CLI periodically output something (even a spinner) so the user knows that is something happening, and the CLI is not stuck?

[2017-05-16 09:54] pimterry commented on #530
Notably that's the same exit code as https://github.com/resin-io/resin-cli/issues/460

[2017-05-16 14:31] jhermsmeier opened #532 "Config injection failing when there's no /dev/diskX"
`resin config inject` errors with `"path must be a string"` and immediately exits, without displaying the drive selection prompt when there are no `/dev/diskX` devices.

Workaround: `resin config inject ... --drive /dev/sdc`

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1owz)

[2017-05-17 17:37] CameronDiver opened #533 "Resin quickstart does not work with resinOS2.0"
I flashed an rpi3 using resin quickstart, the process went fine, except it had written the wifi config to config.json, rather than the newer system_connections/ directory which resinOS2.0 uses, so the device was unable to connect.

[2017-05-18 08:37] pimterry commented on #533
Duplicate: https://github.com/resin-io/resin-cli/issues/494

`resin local configure` does work, so you can use that as a workaround, but obviously yes this seriously needs fixing.

[2017-05-18 08:38] #533 closed

[2017-05-19 03:25] shaunmulligan opened #534 "non-empty request body was deprecated since Docker v1.10 and removed in v1.12"
`resin local push` breaks with resinOS devices running docker17.03 because part of the docker API was removed in docker 1.12
[code]

[2017-05-19 16:01] aleho70 commented on #427
So how to solve this issue?

[2017-05-20 09:22] mietlicki commented on #460
Still have the same symptoms. Container is running normally. Restarting the application does not solve the problem.

[2017-05-20 09:32] mietlicki commented on #460
I am running "resin sync <uuid> --verbose --source . --destination /usr/src/app" from a windows git bash administrator session. It seels that it wants to sync to "C:/Program Files/Git/usr/src/app" which is a Windows path that means nothing on the destination...

[2017-05-22 18:44] pimterry opened #535 "resin local ssh fails with: getSubShellCommand is not a function"
https://sentry.io/resinio/cli/issues/278332266/

[code]

[2017-05-22 19:56] #535 closed

[2017-05-22 20:26] shaunmulligan opened #537 "resin local configure won't work on resinOS 1.X"
Currently `resin local configure` only works on devices that have `/resin-boot/system-connections`

[2017-05-22 20:30] shaunmulligan opened #538 "resin config commands don't work on resinOS 2.0"
Currently resinOS 2.0 images don't work with some of the `resin config`

relates somewhat to https://github.com/resin-io/resin-cli/issues/537

[2017-05-26 20:07] sonyagreen commented on #462
User wants to be informed when this is done (see Front conversation)

[2017-05-28 09:20] imrehg opened #539 "clearLine is not a function error with resin deploy on windows"
Running a `resin deploy` on Windows in a setup where the builder is a local-mode RPi3, with a command like:

[code]
The build finishes successfully, unicorn is shown, and while waiting for the container to started to be uploaded, instead of getting a progress bar (after a wait), `[Initializing]` (or something similar) pops up for a brief moment, then I get this error:

[code]

Using resin-cli 5.10

[2017-06-01 12:01] lurch commented on #489
Apologies if this is a naive question, but could the function that generates (short) UUIDs be modified to always include at least one letter?

[2017-06-01 12:06] pimterry commented on #489
We could do something like that, but it wouldn't help existing devices, and it shouldn't be necessary - the cli should know the type of any given parameter, so we just need to stop the parsing code from being too clever for it's own good.

[2017-06-06 17:00] pimterry opened #541 "Interrupted OS downloads are still cached, breaking future downloads"
Repro:
* Run `resin os download ts4900 -o test.img`
* Interrupt as soon as you see a progress bar
* Run the command again
* You get a tiny broken image, instead of a real one.

If a download fails, we should remove the incomplete result from the cache.

[2017-06-07 07:21] hedss opened #542 "`resin local` discovery requires running as `sudo`"
As part of the discovery of local devices, we've needed to ensure that the implementation of MDNS we use listens/sends on every available NIC. Whilst this works fine when there's no other implementation of MDNS/DNS-SD running, it requires `resin-cli` to be run using `sudo` when there *are* other instances (as `224.0.0.251:5353` needs to be shared). This is not ideal.

A solution to this is to actu

[2017-06-07 07:23] hedss commented on #542
@flesler @afitzek Hi both, you've been potentially earmarked as chaps that could potentially pick this up and run with it. Would either of you like to take this on? ;-)

cc @shaunmulligan @alexandrosm

[2017-06-07 14:34] pimterry opened #543 "TypeError: "cwd" must be a string"
https://sentry.io/resinio/cli/issues/285020506/

[code]

[2017-06-07 15:47] flesler commented on #542
Hi @hedss, I'm currently working on the tableau integration and after that on the persistent api keys which should take some weeks. I could take it but will be on the queue for weeks

[2017-06-08 09:53] hedss commented on #542
@flesler Might be better than nothing, dude. I guess it depends on how urgent Shaun and Alex think this is.

[2017-06-08 10:17] pimterry commented on #542
@hedss If this needs work sooner, I have a space in my planning once I've got the analytics & signup inbox work sorted, which is getting very very close to done already now. Start of next week at the latest.

Otoh I don't know much about MDNS, but I'm very happy to look into it, and the above all sounds very achievable.

[2017-06-08 10:20] hedss commented on #542
@pimterry If you think you could, then that would be wonderful, thank you! I'll hopefully be able to answer any relevant questions about it, too.

[2017-06-08 10:29] emirotin commented on #462
I start working on this feature now

[2017-06-08 10:31] pimterry opened #544 ""Cannot read property 'app_name' of undefined" from "resin ssh""
https://sentry.io/resinio/cli/issues/289095802/

[code]

[2017-06-08 10:33] pimterry opened #545 ""Object [object Undefined] has no method 'trim'" on "local push""
https://sentry.io/resinio/cli/issues/287407676/

[code]

The full command being used is `resin local push 36fa33e.local -s` - I think this is missing a part argument after the `-s`, so throwing. We should handle this (and cases like this generally) more gracefullly.

[2017-06-08 10:39] pimterry opened #546 ""version.replace is not a function" with numeric "--version" in "os download""
https://sentry.io/resinio/cli/issues/287674306/

[code]

Looks like the version number is parsed as a number, not a string, so our semver parsing breaks. This should be fixed properly by upcoming Capitano changes to add explicit types to arguments, just tracking in the meantime for reference.

[2017-06-08 17:17] pimterry commented on #522
Released in 5.10.0

[2017-06-08 17:17] #522 closed

[2017-06-08 17:17] pimterry commented on #520
Released in 5.10.0

[2017-06-08 17:17] #520 closed

[2017-06-08 20:43] ctartist621 commented on #543
Is there a way around this?

[2017-06-08 23:03] pimterry commented on #543
@ctartist621 I haven't actually looked into this in depth yet I'm afraid, because I'm not sure exactly how to reproduce it, and it's only just started appearing. Can you reliably reproduce this locally? I'd love to have some more details if so, especially:

* Your node version
* Your resin-cli version
* Whether this happens for any app to try to sync
* Whether this happens for any device you try t

[2017-06-09 03:40] ctartist621 commented on #543
@pimterry

Node: v8.1.0
resin-cli: We started with the most recent, and kept bumping the version back to try and get it to work.  We figured you pushed something that broke it.  We stopped at resin-cli v5.8.0
We only have one app
We only have one device (fresh shop here)
It HAD been previously working with this device...  Probably with a different node version now that I'm thinking of it...
This w

[2017-06-09 03:42] ctartist621 commented on #543
@pimterry One note: This pretty much stopped work for the day.  Rescheduling work to accommodate this tomorrow, but it would be great if this was fixed / had a recommendation by the 14th...

[2017-06-09 12:07] pimterry opened #547 "Docker build/deploy return unhelpful error if you don't have docker installed"
https://sentry.io/resinio/cli/issues/264667068/

[code]

<img src="https://frontapp.com/assets/img/icons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_1zk9)

[2017-06-09 14:43] pimterry commented on #543
@ctartist621 This appears to be a Node 8 issue - I can reproduce this locally on v8.0.0 (on Ubuntu), but it works fine on v6.11.0 (Node LTS), in an otherwise identical environment.

Hopefully that works for you as a workaround in the short-term, I'll do what I can to get a proper fix for Node 8 out next week.

[2017-06-09 16:32] CameronDiver opened #549 "resin deploy should gzip the stream before uploading"
This is a simple fix, just adding a node gzip stream to the outgoing data, and also adding a gzip uncompress stream on the builder side.

[2017-06-09 16:54] gingerschmidt commented on #543
@pimterry Yes, it works fine v6.11.0. Thanks!

[2017-06-12 10:22] pimterry opened #550 "Avoid sudo issues by detecting sudoing user"
This seems to actually be surprisingly doable, and would potentially solve some of our sudo problems by helping us find the correct user's resin settings (although not perfectly, and not other problems: we'd still need to be quite careful about file permissions, for example).

There's various options to do this - one that seems to work fairly well in my testing (Ubuntu) is `logname`:

[code]

[2017-06-13 10:06] pimterry commented on #542
An update on this: it's been bumped to second on my list by https://github.com/resin-io/resin-cli/issues/549, but it will be coming straight after that.

[2017-06-13 10:07] pimterry commented on #549
@CameronDiver is there an issue for the uncompress side of this in the builder? Very easy to put into the CLI now, but tricky to test if it's working without the other side of it.

[2017-06-13 10:21] CameronDiver commented on #549
There is: https://github.com/resin-io/resin-builder/issues/187

[2017-06-14 07:37] pimterry opened #551 ""Cannot read property 'setRawMode' of null" during resin ssh"
https://sentry.io/resinio/cli/issues/293777307/

[code]

[2017-06-14 08:12] CameronDiver opened #552 "Cannot login with resin login"
If I select login via dashboard, two tabs are opened in a new browser window:
`www.https.com` and `file:////dashboard.resin.io/login/cli/http%25253A%25252F%25252Flocalhost%25253A8989%25252Fauth`.
If I put `https://` instead of file on the second url, it still doesn't log me in, just takes me to the dashboard.

If I try to login with auth token, my terminal locks up. Ctrl+C, Ctrl+D and Enter all do

[2017-06-14 08:47] pimterry commented on #552
That's extremely weird, and I can't reproduce with my current local install. The auth token login sounds similar to what @emirotin has been hitting recently, which is a separate (but also very interesting) issue. Web login should be fine though. Can you let me know:

* What node version you're using
* What OS/browser you're using
* If you get any extra output when running with `DEBUG=1`
* If you'v

[2017-06-14 08:52] pimterry commented on #552
For context for anybody else hitting this: based on conversation [elsewhere](https://www.flowdock.com/app/rulemotion/resin-frontend/threads/lRyT41CsuuE0o7ZE4wWu3XRIQkW) it sounds like the 2nd issue (auth token login not working) is [this Node 8 bug](https://github.com/nodejs/node/issues/13557). Nothing we can do about that, but moving to Node < 8 should work ofc.

[2017-06-14 09:14] thgreasi commented on #35
I think that this should be reopened since neither `resin -v` nor `resin --version` worked for me.
Only `resin version` seems to work.

[2017-06-14 10:26] emirotin commented on #552
Hey @CameronDiver with node7 is the first thing still reproducible?

[2017-06-14 11:31] CameronDiver commented on #552
@emirotin No the first issue does not happen with node 7, logging in via the dashboard works fine.

[2017-06-14 11:45] emirotin commented on #552
OK I think it's safe to close then, probably related to the same node bug

[2017-06-14 11:45] #552 closed

[2017-06-14 16:47] pimterry opened #553 "Emulated builds get wrong qemu-execve path, so always fail"
When running an emulated build on ubuntu, I get:

[code]

This is because it's generating the wrong `COPY` command - it should be copying `.resin/qemu-execve`, but it strips off the `.resin` here: https://github.com/resin-io/resin-cli/blob/master/lib/utils/docker.coffee#L190.

Removing that, by just changing that line to `qemuPath = binPath` fixes this for me. @CameronDiver why are we doing this?

[2017-06-14 17:16] CameronDiver commented on #553
Ok so it looks like the path is edited incorrectly when the build context is not provided, or is provided but is the current directory. The method that I used assumes only 1 level but in reality there can be any amount (including 0, as in this case). I think it needs to take the `params.source` parameter from above off of the given path.

[2017-06-15 14:16] pimterry opened #558 "Emulated builds break if any WORKDIR command is used"
Emulated builds transform `RUN abc` commands to `RUN $QEMU_EXECVE_PATH -execve /bin/sh -c abc`, and then strips that noise from the build output later.

This works fine normally, but the CLI [passes](https://github.com/resin-io/resin-cli/blob/master/lib/utils/docker.coffee#L237) `./qemu-execve` as the qemu-execve container path, used to set the initial location for the qemu binary, and when transf

[2017-06-16 10:53] emirotin commented on #462
Implemented, will go in the next resin-cli release

[2017-06-16 10:53] #462 closed

[2017-06-16 12:29] emirotin commented on #553
Should we close?

[2017-06-16 13:00] pimterry commented on #553
I've been leaving all these open until the CLI gets deployed. Not necessarily required though, we could start closing on merge instead.

[2017-06-16 13:15] emirotin commented on #553
I'm closing on merge as most of the other OSS projects are doing I believe.
It's also how GH is configured to autoclose on merge. Definitely easier for
us (but less obvious to the users)

On Fri, Jun 16, 2017 at 4:00 PM, Tim Perry <notifications@github.com> wrote:

--
Eugene Mirotin
Senior Frontend Engineer
site: Resin.io <https://resin.io/>, twitter: @resin_io
<https://twitter.com/resin_io>

[2017-06-16 16:02] pimterry commented on #553
Sure

[2017-06-16 16:02] #553 closed

[2017-06-16 16:02] #558 closed

[2017-06-16 16:03] #549 closed

[2017-06-16 18:41] pimterry opened #560 "Error: Child process exited with code 3221225781"
https://sentry.io/resinio/cli/issues/257152385/

[code]

[2017-06-16 18:42] pimterry commented on #560
See https://www.flowdock.com/app/rulemotion/r-beginners/threads/3EaDsSkzSCdVrKukO3BJASxRwzd

Looks likely that this is caused by missing/broken Visual C++ redistributable - if confirmed, we should catch this and show some clearer instructions for that.

[2017-06-16 18:56] flesler commented on #560
I'm running this on Git Bash, Windows 10. Using the `rsync` that you get when installing with [this installer](https://sourceforge.net/projects/mingw/files/Installer/).

My `.resin-sync.yml` is as follows (plus the `uuid`):
[code]

[2017-06-19 18:50] emirotin commented on #546
Yeah, capitano is parsing all numbers

[2017-06-19 21:59] flesler commented on #527
In case you want to use the link or copy the instructions, I followed [this guide](https://alanbarber.com/2015/08/11/installing-rsync-on-windows/) to add `rsync` to Git for Windows.

Worth mentioning `resin sync` is not working for me atm but I think it's my fault due to where I placed the shared libraries

[2017-06-19 22:03] flesler opened #561 "NPM install takes a very long time on Git for Windows"
I'm not sure how long it takes normally, neither if it happens on every single Git for Windows.
In my case, the last 2 times I updated `resin-cli` to a newer version with `npm i -g resin-cli`, it took a very long time.

Just now I checked and it took 11 minutes. Most of the time was spent on `loadRequestedDeps: sill install loadAllDepsIntoIdealTree`

Let me know if you need me to try anything

[2017-06-20 09:18] pimterry commented on #546
Yep, exactly. This is blocked for now though, because that's an issue that Capitano 2 is going to solve so these issues need to wait until then.

@jviotti any progress update on that? We've got a few small but annoying CLI bugs like this that are unsolvable until that's in place, and it doesn't seem sensible for me to start opening PRs on Capitano in the meantime, as long as it's coming soon.

[2017-06-20 10:20] imrehg opened #562 "resin build / deploy issue with key file"
When using TLS CA/cert/key files, get an `Error: error:0906D06C:PEM routines:PEM_read_bio:no start line` error instead of the call properly authenticating with the remote Docker service

Here's the command running
[code]

The output:
[code]

(the keys are fine as `openssl s_client -connect <host>:<port> -cert cert.pem -key private.key` can connect to the server)

[2017-06-20 10:26] CameronDiver commented on #562
There is a disconnect between the way that the remote API and docker command line work, where on the command line the CA files are passed using filename, whereas the remote API expects strings. PR incoming.

[2017-06-20 14:24] imrehg opened #564 "npm install leave behind full raspberrypi3 image file in node_modules"
Running the npm install script from the tar package, a command like this:

[code]

I end up with a `raspberrypi3-v2.0.6+rev1.prod.img` and `raspberrypi3-config.json` in the `usr/lib/node_modules/resin-cli/tmp/` directory after the install (that's an extra 1.7GB).

Is that intended to be left behind by `npm install`?

This is for `5.11.0`, don't think it was like that before.

[2017-06-21 08:40] pimterry opened #565 "Log Node version to Sentry with errors, to make version compatibility issues easier to debug"

[2017-06-21 08:41] pimterry opened #566 "TypeError: Buffer.allocUnsafe is not a function"
https://sentry.io/resinio/cli/issues/298612117/

[code]

`Buffer.allocUnsafe` was only added in Node 5.10.0, so presumably this user is using an old version of Node 4. We should either clearly error for this Node version, or use something like https://www.npmjs.com/package/buffer-alloc-unsafe to make this work reliably.

[2017-06-21 08:50] pimterry opened #567 "Print a warning if using an unsupport node version"
The README currently says >= 4, but in Flowdock discussion we want to support only active LTS versions (so, as of April, only Node 6+). For users using older versions, we shouldn't outright block them (since most things are likely to still work with Node 4), but we should print a clear warning so they know to expect issues.

[2017-06-21 08:51] pimterry commented on #566
We're going to just drop Node 4 support with https://github.com/resin-io/resin-cli/issues/567, which will 'solve' this.

[2017-06-21 09:11] pimterry commented on #566
New new plan: we're going to fix this in a final patch release for CLI v5, _then_ drop Node 4 support as part of a major bump to version 6.

[2017-06-21 15:37] jviotti commented on #546
@pimterry I'm working on Capitano v2 ~10% of my time. If there is something critical that needs to be done, lets merge a fix to Capitano v1 in the mean-time. I really want to get v2 done, but I'm juggling other priorities as well, so I can't promise it will be 100% ready soon :(

[2017-06-21 16:47] lekkas opened #568 "Do not explicitly disable ControlMaster SSH option for resin ssh"
See: https://github.com/resin-io/resin-cli/issues/366

The limitation described in the issue above will be removed with the latest ssh backend deploy, so there will be no need to explicitly disable ControlMaster.

In essence, for users that have the ControlMaster option enabled, this means that they'll be able to use a single tunnel to connect to the ssh gateway that reaches their devices.

[2017-06-21 17:26] lekkas commented on #395
Fixed by https://github.com/resin-io/resin-cli/pull/398 (landed in `resin-cli@5.10.0`)

[2017-06-21 17:26] #395 closed

[2017-06-22 12:00] pimterry opened #572 "`local configure` requires sudo, but often doesn't use it"
`local configure` requires sudo for all usages, but doesn't use it in the fairly common case where it's operating on an image file, not a drive.

[2017-06-22 12:13] pimterry opened #573 "Easy to forget to rebuild code before merging"
I've just pushed https://github.com/resin-io/resin-cli/commit/c5afe5f2c2469ff24809eb76c2e09abe0c702f89, which is just the output of #563 after a missed final `npm run build`

Should we catch missed rebuilds at the PR stage, automatically? Pretty easily doable with a travis build I think: a simple `npm run build` should result in exactly the same output that we have committed, and any time it doesn

[2017-06-22 12:56] pimterry commented on #564
@imrehg I can't reproduce this locally, and I'm be very surprised if this was caused by resin-cli itself (which doesn't even include the string `raspberrypi3`, except in its docs). Are you sure this wasn't a local download, present in your local dir when you packaged the `tgz`, and bundled up by npm?

[2017-06-22 12:58] pimterry commented on #560
@flesler Did you try installing the Visual C++ redistributable? I'm not sure if 2010 or 2015, but it looks very likely that one of those (or some other version) should solve this on your system, based on other reports for this error code in other applications.

[2017-06-22 13:12] flesler commented on #560
I think the problem is with my `rsync`, I tried using it standalone and failed. I'll delve into this asap and let you know how it went

[2017-06-22 14:12] emirotin commented on #573
Things are less dramatic as the prepublish command will build the JS, and npm publishes whatever is in the folder.

But we can use the pre-commit hook https://www.npmjs.com/package/pre-commit  or https://github.com/typicode/husky

[2017-06-22 14:34] jacintoArias opened #575 "Specify docker build additional options in resin build"
Using the `resin build` command is key for my team in order to integrate our CI platform with resin, however our current building scripts call `docker build` with a set of particular options.

* We have tons of python packages, so we like to store docker-related files in a `/docker` folder, so we  need to trigger the build using the project root as context and specify the `Dockerfile` using `-f`

[2017-06-22 16:15] pimterry commented on #573
Prepublish will rebuild, and publish the result, but it won't then commit the result and update the repo, so we won't actually know what we've published.

Could do precommit hooks, but I'd rather check it remotely as a build step on PRs, just to make it a bit more reliable. Lets you do online edits to open PRs and still get the same checks, for example. Would also catch us accidentally the docs di

[2017-06-22 16:34] emirotin commented on #573
You're right about the repo state, of course

On Thu, Jun 22, 2017 at 7:15 PM, Tim Perry <notifications@github.com> wrote:

--
Eugene Mirotin
Senior Frontend Engineer
site: Resin.io <https://resin.io/>, twitter: @resin_io
<https://twitter.com/resin_io>

[2017-06-22 16:59] #565 closed

[2017-06-22 16:59] #566 closed

[2017-06-23 15:38] jacintoArias commented on #575
In case this is interesting for anyone else, adding `--squash` was easy, if you feel a pm would be a good idea just say the word.

The fork:
jacintoArias/resin-cli@9df617863c30003b8e967dc8630d523106611e14

`docker build -f` for referencing a `Dockerfile` inside a nested folder turns out to be a little more tricky, as I'm getting errors from the `resin-bunle-resolve` package when I pass a source di

[2017-06-23 17:15] pimterry commented on #575
@jacintoArias This is a great idea.

Yes, we'd happily accept a PR for that `--squash` change, that's looks great. We're also going to have a look into fixing `resin-bundle-resolve` to better support this, so we can add `-f` support too - watch this space.

[2017-06-26 06:50] jacintoArias opened #578 "Support for resin local build, current resin build requires login"
Current `resin build` requires  a successful `resin login`, as it might take application information to parse the `Dockerfile.template`, but I can think of some use cases where local builds could be used without logging, as in building intermediate containers in a private CI flow that would not be immediately deployed.

I personally prefer to stick with resin cli for all my docker builds if I'm go

[2017-06-26 09:52] imrehg commented on #564
@pimterry looks like it was just 5.11.0, check the http://registry.npmjs.org/resin-cli/-/resin-cli-5.11.0.tgz file (the one that my AUR package is working from), it contains `package/tmp/raspberrypi3-v2.0.6+rev1.prod.img`.

Seems to be fixed in 5.11.1.

[2017-06-26 10:50] pimterry commented on #564
Ah, good spot, thanks! Looks like @emirotin published this, and happened to have a pi image in his dir at the time, so it got included and published.

We should work out how to avoid this in future though. @emirotin thoughts? Autopublishing will improve this quite a bit, since it takes our local environments out of the picture, but we haven't set it up yet on the CLI. We could do that? Or we could

[2017-06-26 11:17] emirotin commented on #564
Woah!
I thought why the pubulishing was so slow...
Explicit `files` can be tricky too of course if we decide to add some new folder and publish the broken module then.
Let's go for autopublishing?

[2017-06-26 20:20] jacintoArias opened #579 "resin build omits last boolean arguments if param [source] is present"
I have been experiencing a weird behaviour with `resin build` that I've tracked to the following situation.

Suppose our current path contains a valid project and we call this:
[code]
then everything works as expected, but if we call
[code]
then the build ignores the `--nocache` argument and builds using cache. I'm curious about this tool and the **capitano** project so I dived in the code of othe

[2017-06-26 20:37] jacintoArias opened #580 "emulated resin build ignores docker build-arg"
I apologise if this behaviour is already known, in that case I think it should be (at least temporarily) indicated in the docs, as it was not trivial to realise...

A minimal example `Dockerfile.template` working example:

[code]
built with: `resin build --deviceType raspberrypi3 --arch armhf --emulated` on **macos** outputs

[code]

However if I run the same on AWS **t1.micro** I get:

[code]

do

[2017-06-27 10:53] CameronDiver commented on #580
Hey @jacintoArias, this actually turns out to be because of the behaviour in our Dockerfile parsing library. It incorrectly parses the `ARG` line into an array, which then gives the output that you've noticed.

I've PR'd a fix here: https://github.com/resin-io-modules/docker-qemu-transpose/pull/7/files and it should be merged into resin-cli fairly soon, when the module is updated.

Thanks, nice fi

[2017-06-27 13:15] pimterry opened #581 "Error: invalid reference format: repository name must be lowercase"
https://sentry.io/resinio/cli/issues/294198205/

[code]

It looks like you attempt to run `resin build` from any path containing an uppercase character, you upset Docker.

[2017-06-27 13:26] pimterry commented on #581
Not remotely true - this was me using a template file (including `FROM ...RESIN_MACHINE_NAME...`) without a `.template` extension. Never mind!

[2017-06-27 13:26] #581 closed

[2017-06-27 13:33] pimterry commented on #580
This has now been released in version 0.2.2 of `docker-qemu-transpose`. If you uninstall and reinstall `resin-cli` @jacintoArias this should work as you expect, since that new submodule should get picked up and installed automatically.

I'll put out a new resin-cli release that bumps the dependency to _require_ the new version of the module shortly (probably as resin-cli 6.0.1).

[2017-06-27 13:33] #580 closed

[2017-06-27 14:24] horia-delicoti opened #583 "Implement new device commands."
The new device commands to implement:
- device update *<uuid>*
- device purge *<uuid>*
- device status *<uuid>*
- device application info *<uuid>*
- device start application *<uuid>*
- device stop application *<uuid>*
- device restart application *<uuid>*
- device ping *<uuid>*
- device regenerate key *<uuid>*  --> related to: https://docs.resin.io/runtime/supervisor-api/#post-v1-regenerate-api-ke

[2017-06-27 16:38] pimterry commented on #579
@jacintoArias It looks like this is because capitano parses it as a parameter for `nocache`, which is a boolean toggle, so that doesn't make any sense. I agree the result is confusing though, I'll take a look at it.

In the mean time, you can move the parameter to the start of the command (`resin build . --deviceType ...`) and I think everything'll work fine.

[2017-06-27 20:27] pimterry commented on #578
We're definitely thinking about this, and as part of #491 something like this might well come to fruition. Right now though, I'm going to leave it, until we've sorted that out. Watch this space.

[2017-06-28 18:30] #539 closed

[2017-06-29 08:54] #568 closed

[2017-06-29 08:56] #422 closed

[2017-06-30 13:21] #512 closed

[2017-06-30 14:30] willnewton opened #585 "CLI commands do not indicate if a device BSP is discontinued"
As part of https://github.com/resin-io/hq/pull/785 a number of previously supported devices have been deprecated. The CLI commands, e.g. ```devices supported``` and probably ```app create``` should output a message indicating that a discontinued BSP is being used. There is also an "experimental" state that also could be exposed if that is useful.

[2017-06-30 15:56] curcuz commented on #526
@imrehg @michal-mazurek the title of this issue might be misleading, if my understanding that the actual issue is a lack of documentation around the need of having ssh-agent up and loaded - am I correct?

[2017-06-30 17:14] imrehg commented on #526
well, if the password request never pops up, then it would be hard to debug for people. Documentation helps, but the error message should do the main documentation? Otherwise resin-cli does a lot of interactive stuff asking for input from user, I wonder why it couldn't ask for the password. Just thinking out loud.

[2017-06-30 17:31] lekkas commented on #400
`ResinRequestError: Request error: tunneling socket could not be established, cause=socket hang up` generally means that the device was not accessible via the VPN. This usually means that either the device has not come up online yet (i.e. has not connected to OpenVPN) or that its connected but the specific service/port wasn't accessible from the VPN interface.

The former case is generally self-co

[2017-06-30 17:31] #400 closed

[2017-06-30 17:31] lekkas commented on #399
See: https://github.com/resin-io/resin-cli/issues/400#issuecomment-312327392

[2017-06-30 17:31] #399 closed

[2017-06-30 18:00] curcuz commented on #526
@imrehg good point.

[2017-07-03 17:56] imrehg opened #587 "Let users specify a Dockerfile with `balena build`"
For `docker build` one can specify the `Dockerfile` to build from with the `-f` flag, thus a single directory can contain `Dockerfile`s for multiple deploys. (e.g. `docker build . -f Dockerfile.raspberrypi3`)

Feels like it would be useful if `resin build` can also have a `Dockerfile` specified (instead of just running from the default name).

Also, if `resin build` gets this, probably should expo

[2017-07-04 10:25] pimterry commented on #543
This should now be fixed in Node 8 in the latest version of Resin-CLI (6.1.0)

[2017-07-04 10:25] #543 closed

[2017-07-04 10:29] pimterry commented on #575
I don't think we're looking at supporting arbitrary arguments right now, so now that `squash` is included I'm going to close this. There's a separate issue for the specific `-f` argument to specify the dockerfile explicitly over here: https://github.com/resin-io/resin-cli/issues/587

[2017-07-04 10:29] #575 closed

[2017-07-04 10:31] pimterry commented on #587
We've actually already been discussing this in flowdock after a separate issue looking at this (#575), see https://www.flowdock.com/app/rulemotion/resin-tech/threads/An7HSBVXTvG0OBvlFrXkNEpJorJ.

@CameronDiver what's the status of this?

[2017-07-04 11:31] imrehg commented on #587
Thanks @pimterry, missed that thread!

[2017-07-05 14:50] lekkas commented on #422
Hey @alberttwong , this is fixed in resin-cli@6.1.0 so you might want to update your CLI . Collaborators can now use `resin ssh` and `resin sync` .

[2017-07-06 21:14] Page- commented on #547
Yeah I just hit this in support, the actual user visible error is
[code]
which is even more unhelpful than the sentry reported error as it doesn't even hint that docker might be related - it took a long time to figure out the cause

[2017-07-07 08:50] pimterry opened #588 "Resin config generate fails if you have two apps with the same name"
Throws ResinAmbiguousApplication errors, whether using the name or the id.

[2017-07-07 09:57] pimterry opened #589 ""Cannot read property 'short' of undefined" in resin flash"
https://sentry.io/resinio/cli/issues/306413650/

[code]

[2017-07-07 14:29] pimterry commented on #443
Looks like this is related: https://www.flowdock.com/app/rulemotion/resin-frontend/threads/9aaxkeZiIhX9p07X7d81Gy7FTDc

In that case, Joe's hitting a similar looking issue after recreating the devenv, but with the old token leftover.

[2017-07-07 21:00] przemekgalazka opened #590 "os initialize - Missing drive option"
Hi,

I try to flush my edison with dev resin OS but I get this instead

USB cable is attached to serial port

[2017-07-10 06:46] lekkas commented on #585
See: https://github.com/resin-io/hq/pull/785

[2017-07-10 08:16] floion commented on #489
I stumbled upon this problem now and as expected it is misbehaving also when doing resin ssh, resin sync etc

[2017-07-10 20:26] Arwid commented on #534
+1

[2017-07-12 01:46] BrianAdams opened #591 "6.1.0 failing to install in current docker:dind"
Works with 5.11.1 but not the most recent version

Not sure what is wrong here.  The steps I am using:
[code]

[code]

[2017-07-12 10:19] pimterry commented on #534
@lekkas this is assigned to you - are you looking into it? Any progress?

[2017-07-12 10:40] pimterry commented on #591
I've just tested locally, and those exact commands in that same container work nicely for me, so I don't think there's a resin-cli issue here.

It looks like the specific failure in that message is a `getaddrinfo` error for nodejs.org - it's a failing DNS lookup. I suspect that's a general issue on your network, or just an intermittent error that'll disappear if you try again. Can you still reprod

[2017-07-12 14:06] imrehg commented on #473
@pimterry any update on this one? looks like still an issue on `6.1.0` (e.g. try with `resin config generate --device ${UUID}` where UUID is of a 2.x device.

[2017-07-12 14:30] pimterry commented on #473
This fix is ready in `resin-device-config`, but only on v4, which has a breaking change from @Page- that needs the corresponding changes started in #487 to be finished before we can upgrade in the CLI.

@Page- are you going to get a chance to finish that PR any time soon? Looks like it's blocked on supporting pre-2.x devices at the mo. If not, we're going to have to find a nice way to do a patch r

[2017-07-13 08:40] pimterry commented on #567
Fixed in 6.0.0, closing

[2017-07-13 08:40] #567 closed

[2017-07-14 09:34] willnewton opened #592 "Add support for configuring DNS servers"
resinOS 2.0.10 onwards supports configuring DNS servers from config.json with the dnsServers key. The CLI tools should support setting this.

[2017-07-14 09:34] willnewton opened #593 "Add support for configuring NTP servers"
resinOS 2.0.10 onwards supports configuring NTP servers from config.json with the ntpServers key. The CLI tools should support setting this.

[2017-07-17 16:07] memolipd opened #594 ""Unauthorized" uploading image to shared project"
It seems to work on Resin Applications I have made myself but throws the error when pushing to any applications a different developer has made and shared with me.

This seems like a bug, since using other means I can push images to applications created by other developers and shared with me.

[2017-07-18 12:09] willnewton commented on #585
BSP = Board Support Package btw.

[2017-07-18 13:40] pimterry commented on #587
Update: we're pretty busy with other things at the moment (Cameron especially), so while this is still a feature we'd like, I'm not expecting that we'll get around to adding support any time soon.

Do ping here if this is causing you problems though, and we can reevaluate.

[2017-07-19 16:06] LucianBuzzo opened #596 "device register action failing on OSX"
when running the command `resin device register` on OSX I see the following:

[code]

[2017-07-20 09:58] pimterry commented on #594
Hi @memolipd, this is due to a bug in our builder, which checked only if you were the owner of an application, for local pushes, not anybody with access to it. We've got the basics of a fix working now, just finishing it up at the moment - I'll ping back here once it's resolved and deployed. Thanks for the report!

[2017-07-21 12:08] shaunmulligan opened #597 "resin local configure should create a new connection file rather than editing `resin-sample`"
In newer versions of resinOS 2.0, we will be removing or renaming the `resin-sample` file in `/boot/system-connections`. So before we do that, we need to make sure that the CLI can handle this, my suggestion is that the CLI should create a new system connection file in `/boot/system-connections` and not rely on `resin-sample` being there at all.

[2017-07-22 08:48] imrehg commented on #534
Ping, as more and more devices our out there with the new docker.

[2017-07-22 21:31] imrehg opened #598 "resin login issue in Git Bash on Windows 10"
In Git Bash (recommended in the ReadMe) from Git for Windows v2.13.3, node 8.2.1 64 bit, on Windows 10, `resin login` behaves strangely. The options are not colorized, and pressing up-down buttons don't show any change, but it still selects the given option. Meaning: `resin login` starts on "Web authorization", if pressing the down button, the screen does not change, but hitting enter would bring

[2017-07-24 11:34] lekkas commented on #534
@imrehg @pimterry sorry I completely missed the assignment & first ping. I'm not looking into this (disclaimer: in general I try to steer clear of the CLI during the last couple of months) but I did a quick research now:

The fix should be relatively easy by removing the passed `HostConfig` options from the body of the `startContainer()` request (https://github.com/resin-io-modules/resin-sync/blob

[2017-07-24 12:39] shaunmulligan commented on #534
@lekkas I think we basically have 3 versions of docker.
* 1.4 (which doesn't support local mode anyways)
* 1.10.3
* 17.03
* 17.06 (coming soon)
So I think we really just need to make sure we can interact with the last three

[2017-07-25 09:32] lekkas opened #599 "Support overlay2 in resin local push"
Should only require a change in https://github.com/resin-io-modules/resin-sync/blob/master/lib/docker-utils.coffee#L315-L326

Note that `resin sync` is docker FS driver agnostic and overlay2 support should happen on the server side

See: https://www.flowdock.com/app/rulemotion/resin-devices/threads/1wCgvpWvDykVKWxXcfvSWDmpXHe

[2017-07-25 13:59] emirotin commented on #597
@shaunmulligan I have some concerns. Right now the CLI does not _own_ this file. I can make an easy fix by moving the ownership here but it will require us to sync any possible changes in the future.
I've read the prior discussion in HQ and I have an alternative proposal. Please let me know if you see any problems with it:

1) I will make the CLI expect the file called `resin-sample.please.rename`

[2017-07-25 14:11] emirotin commented on #597
UPD: looks like that's what's already suggested in the OS with a slightly different filename. https://github.com/resin-os/meta-resin/issues/768
So all looks good to me.

[2017-07-25 15:08] pimterry commented on #590
Hi @przemekgalazka, sorry for the delay. I'm afraid I don't have an edison to hand, but I've done some investigation and I can't reproduce this with an edison image with any simple tests on my end.

The error here gets throw in a 'burn' operation, that's run by [resin-device-operations](https://github.com/resin-io-modules/resin-device-operations/blob/master/lib/commands.coffee#L90). The operations

[2017-07-25 15:37] shaunmulligan commented on #597
@emirotin can we not just have the CLI just add its own connection file. This is what the image maker currently does. So it doesn't need to care in any of the cases if `resin-sample` exists. It will just create something like `resin-wifi` and NM will do the correct thing.

If it finds a file called `resin-wifi` then it should be able to reconfigure it.

[2017-07-25 19:29] emirotin commented on #597
Please see my comment above. Right now the CLI has no specific knowledge about this file. It takes whatever is on the disk and reconfigures it.
Your suggestion also works as I've mentioned in my comment, but it means the knowledge about the file structure will be duplicated in the img-maker and the CLI.
I'm fine with that if you approve, especially if we can extract some shared some code from the

[2017-07-26 09:22] pimterry commented on #597
Sounds like @emirotin is on this, so I've unassigned myself - let me know if I can help here at all though

[2017-07-26 18:05] emirotin opened #600 "`resin local configure` is broken if you answer "no" to setting advanced settings"
Fails with `Missing variable hostname` which is probably coming from reconfix not getting this value (because we're not setting it, right) and not being able to skip configuring this file.

Reproducible with the fresh image that doesn't have the `hostname` prop in the config.json

Will fix after #597

[2017-07-26 18:07] emirotin commented on #600
May be related to the slightly outdated version of OS on my card, will check later with the freshest OS